In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### COLAB DRIVE

---

In [ ]:
#@title RESET AND FILES NAME
%reset -f
#path data export
model_folder = "model_test/"

# list your files in the exact order you want their rows to appear
file_names = [
    "Aida_Export_TESTin_0_1000.xlsx",
    "Aida_Export_TESTout_100001_101000.xlsx",
]

test_files = [
    "Aida_Export_testD_001_200.xlsx",
    "Aida_Export_testD_201_400.xlsx",
    "Aida_Export_testD_401_600.xlsx",
    "Aida_Export_testD_601_800.xlsx",
    "Aida_Export_testD_801_1000.xlsx",
    "Aida_Export_testD_100001_100100.xlsx",
    "Aida_Export_testD_100101_100200.xlsx",
    "Aida_Export_testD_100201_100400.xlsx",
    "Aida_Export_testD_100401_100600.xlsx",
    "Aida_Export_testD_100601_100800.xlsx",
    "Aida_Export_testD_100801_101000.xlsx"
]

In [ ]:
path_data = "/content/drive/MyDrive/SETUP DEFINITIVO/Temporaneo, lezioni ML/AIDA/DATA/" + model_folder
path_MODEL = "/content/drive/MyDrive/SETUP DEFINITIVO/Temporaneo, lezioni ML/AIDA/output/" + model_folder

In [ ]:
from IPython.display import clear_output
!pip install pandas
#!pip install scikit-learn
#!pip install optuna

import pandas as pd
import os
import numpy as np
import re

"""
def safe_literal_eval(x):
    # If x is a list or numpy array and empty, return an empty list
    if isinstance(x, (list, np.ndarray)) and len(x) == 0:
        return []
    # For scalar values, check if x is NaN
    if not isinstance(x, (list, np.ndarray)) and pd.isna(x):
        return []

    # Otherwise, convert to string and strip any whitespace
    x = str(x).strip()

    try:
        return ast.literal_eval(x)
    except Exception:
        return x
"""
clear_output()

### DATA MANIPULATION

---

In [ ]:
#@title FILES ≥ 15 (with per–chunk date/year fixing)

# 1) Regex for “year” or “date” at end of column name
date_pattern = re.compile(r'(year|date)$', re.IGNORECASE)

df_list = []
for fn in file_names:               # assumes file_names & path_data exist
    print(f"Processing file: {fn}")
    tmp = pd.read_excel(
        path_data + fn,
        sheet_name="Results",
        index_col=None,
        na_values=["n.a."],       # if you still have literal "n.a."
        keep_default_na=True
    )
    # 2) Normalize your key
    tmp['Tax code number'] = tmp['Tax code number'].astype('Int64')

    # 3) Find & fix every date/year column in this chunk
    for col in tmp.columns:
        if not date_pattern.search(col):
            continue

        ser = tmp[col]
        # a) Excel‐serial branch (for floats/ints)
        ser_num = pd.to_numeric(ser, errors='coerce')
        dt = pd.to_datetime(
            ser_num,
            unit='D',
            origin='1899-12-30',
            errors='coerce'
        )

        # b) String‐date fallback
        mask = dt.isna() & ser.notna()
        if mask.any():
            dt.loc[mask] = pd.to_datetime(
                ser[mask],
                dayfirst=True,
                errors='coerce'
            )

        tmp[col] = dt
        # debug print
        total = ser.notna().sum()
        good  = dt.notna().sum()
        print(f"  {col}: parsed {good}/{total} values into dates")

    df_list.append(tmp)

# 4) Concatenate end‐to‐end
df_start = pd.concat(df_list, ignore_index=True)
print("Final shape:", df_start.shape)


#df.iloc[46847:46857]
#df.tail(1300)
df_start.shape
#df_start.iloc[3000:3050]
#df_start

Processing file: Aida_Export_TESTin_0_1000.xlsx
  Incorporation year: parsed 998/998 values into dates
  Last accounting closing date: parsed 1000/1000 values into dates
Processing file: Aida_Export_TESTout_100001_101000.xlsx
  Incorporation year: parsed 1000/1000 values into dates
  Last accounting closing date: parsed 1000/1000 values into dates
Final shape: (3273, 16)

(3273, 16)

In [ ]:
#@title Events Manipulation

# 2) Build your 'master' enterprises (one row per tax code)
master = (
    df_start[df_start['Tax code number'].notna()]
      .drop_duplicates(subset='Tax code number', keep='first')
)

# 3) Prepare the events table
events = (
    df_start[['Tax code number',
        'Procedure/cessazione',
        'Date of open procedure/cessazione',
        'Date of closure procedure']]
    .copy()
)
# fill down the tax‐code so every event row has its enterprise key
events['Tax code number'] = events['Tax code number'].ffill()

# keep only real events
events = events[events['Procedure/cessazione'].notna()].rename(columns={
    'Procedure/cessazione':        'Procedure',
    'Date of open procedure/cessazione': 'open_date',
    'Date of closure procedure':   'close_date'
})

# parse dates
events['open_date']  = pd.to_datetime(events['open_date'],  dayfirst=True, errors='coerce')
events['close_date'] = pd.to_datetime(events['close_date'], dayfirst=True, errors='coerce')

# 4) Sort & number each event per enterprise
events = (events
          .sort_values(['Tax code number', 'open_date'], ascending=[True, False]))
events['event_idx'] = events.groupby('Tax code number').cumcount()
events['event_idx'] = -events['event_idx']

# 5) Pivot to wide with unstack
df_e = events.set_index(['Tax code number','event_idx'])[['Procedure','open_date','close_date']]
df_un = df_e.unstack('event_idx')  # shape: index=tax codes, columns=(field, idx)
#5.1 order of tuples
field_order = ['Procedure','open_date','close_date']
idx_order   = sorted(df_un.columns.levels[1], reverse=True)

ordered_tuples = [
    (field, idx)
    for field in field_order
    for idx   in idx_order
    if (field, idx) in df_un.columns
]

df_un = df_un.reindex(columns=pd.MultiIndex.from_tuples(ordered_tuples))
# 6) Flatten the MultiIndex columns
df_un.columns = [
    (f"Event {i}"                 if field=='Procedure' else
     f"Date of open Event {i}"   if field=='open_date' else
     f"Date of closure Event {i}")
    for field, i in df_un.columns
]
df_un = df_un.reset_index()  # bring back Tax code number as a column

# 7) Merge back onto master (preserves your enterprise order)
final_df = (master
            .merge(df_un, on='Tax code number', how='left', sort=False)
            .reset_index(drop=True)
           )

#print(f"Enterprises: {len(master)}, rows in final_df: {len(final_df)}")
#final_df.head()

final_df = final_df.drop(columns=[
    'Procedure/cessazione',
    'Date of open procedure/cessazione',
    'Date of closure procedure'
])

In [ ]:
#@title Appending
# 1) Treat only "n.a." as missing when reading
read_kwargs = dict(
    sheet_name="Results",
    index_col=None,
    na_values=["n.a."],
    keep_default_na=True
)

# 2) Read & stack all the new data end-to-end
df_list = []
for fn in test_files:
    tmp = pd.read_excel(path_data + fn, **read_kwargs)
    tmp['Tax code number'] = tmp['Tax code number'].astype('Int64')
    df_list.append(tmp)

In [ ]:
#@title Merging

# 1) Stack all new files into one DataFrame
all_new = pd.concat(df_list, ignore_index=True)

# 2) Ensure the key is the same type
all_new['Tax code number'] = all_new['Tax code number'].astype('Int64')

# 3) Perform a 1:1 left-join of your master with the new data,
df = final_df.merge(
    all_new,
    on='Tax code number',
    how='left',
    validate='one_to_one'
)

print(df.shape)  # rows == final_df.rows; columns == union of both sets of variables

(2000, 4276)

In [ ]:
#@title DATA MANIPULATION

In [ ]:
#@title visualize big database

# Show *every* column
pd.set_option('display.max_columns', 1000)

# (Optionally widen your display so lines don’t wrap too crazily)
pd.set_option('display.width', 20)
pd.set_option('display.max_colwidth', 50)

# Now when you do…
#df

#print(final_df.iloc[:, :10])
#df.iloc[:30, :200]
#df.iloc[1000:1030, :200]

df.iloc[985:1015, :200]

,Unnamed: 0_x,Company name_x,Tax code number,Registered office address - Postal code,Registered office address - Longitude,Registered office address - Latitude,Trading address - Postal code,Legal status,Legal form,Company category,Incorporation year,No of available years,Last accounting closing date,Event 0,Event -1,Event -2,Event -3,Event -4,Event -5,Event -6,Date of open Event 0,Date of open Event -1,Date of open Event -2,Date of open Event -3,Date of open Event -4,Date of open Event -5,Date of open Event -6,Date of closure Event 0,Date of closure Event -1,Date of closure Event -2,Date of closure Event -3,Date of closure Event -4,Date of closure Event -5,Date of closure Event -6,Unnamed: 0_y,Company name_y,Revenues from sales and services\nth EUR\n2023,Revenues from sales and services\nth EUR\n2022,Revenues from sales and services\nth EUR\n2021,Revenues from sales and services\nth EUR\n2020,Revenues from sales and services\nth EUR\n2019,Revenues from sales and services\nth EUR\n2018,Revenues from sales and services\nth EUR\n2017,Revenues from sales and services\nth EUR\n2016,Revenues from sales and services\nth EUR\n2015,Revenues from sales and services\nth EUR\n2014,EBITDA\nth EUR\n2023,EBITDA\nth EUR\n2022,EBITDA\nth EUR\n2021,EBITDA\nth EUR\n2020,EBITDA\nth EUR\n2019,EBITDA\nth EUR\n2018,EBITDA\nth EUR\n2017,EBITDA\nth EUR\n2016,EBITDA\nth EUR\n2015,EBITDA\nth EUR\n2014,Profit (loss)\nth EUR\n2023,Profit (loss)\nth EUR\n2022,Profit (loss)\nth EUR\n2021,Profit (loss)\nth EUR\n2020,Profit (loss)\nth EUR\n2019,Profit (loss)\nth EUR\n2018,Profit (loss)\nth EUR\n2017,Profit (loss)\nth EUR\n2016,Profit (loss)\nth EUR\n2015,Profit (loss)\nth EUR\n2014,Total assets\nth EUR\n2023,Total assets\nth EUR\n2022,Total assets\nth EUR\n2021,Total assets\nth EUR\n2020,Total assets\nth EUR\n2019,Total assets\nth EUR\n2018,Total assets\nth EUR\n2017,Total assets\nth EUR\n2016,Total assets\nth EUR\n2015,Total assets\nth EUR\n2014,Total shareholder's funds\nth EUR\n2023,Total shareholder's funds\nth EUR\n2022,Total shareholder's funds\nth EUR\n2021,Total shareholder's funds\nth EUR\n2020,Total shareholder's funds\nth EUR\n2019,Total shareholder's funds\nth EUR\n2018,Total shareholder's funds\nth EUR\n2017,Total shareholder's funds\nth EUR\n2016,Total shareholder's funds\nth EUR\n2015,Total shareholder's funds\nth EUR\n2014,Net financial position\nth EUR\n2023,Net financial position\nth EUR\n2022,Net financial position\nth EUR\n2021,Net financial position\nth EUR\n2020,Net financial position\nth EUR\n2019,Net financial position\nth EUR\n2018,Net financial position\nth EUR\n2017,Net financial position\nth EUR\n2016,Net financial position\nth EUR\n2015,Net financial position\nth EUR\n2014,EBITDA/Vendite\n%\n2023,EBITDA/Vendite\n%\n2022,EBITDA/Vendite\n%\n2021,EBITDA/Vendite\n%\n2020,EBITDA/Vendite\n%\n2019,EBITDA/Vendite\n%\n2018,EBITDA/Vendite\n%\n2017,EBITDA/Vendite\n%\n2016,EBITDA/Vendite\n%\n2015,EBITDA/Vendite\n%\n2014,Return on sales (ROS)\n%\n2023,Return on sales (ROS)\n%\n2022,Return on sales (ROS)\n%\n2021,Return on sales (ROS)\n%\n2020,Return on sales (ROS)\n%\n2019,Return on sales (ROS)\n%\n2018,Return on sales (ROS)\n%\n2017,Return on sales (ROS)\n%\n2016,Return on sales (ROS)\n%\n2015,Return on sales (ROS)\n%\n2014,Return on asset (ROA)\n%\n2023,Return on asset (ROA)\n%\n2022,Return on asset (ROA)\n%\n2021,Return on asset (ROA)\n%\n2020,Return on asset (ROA)\n%\n2019,Return on asset (ROA)\n%\n2018,Return on asset (ROA)\n%\n2017,Return on asset (ROA)\n%\n2016,Return on asset (ROA)\n%\n2015,Return on asset (ROA)\n%\n2014,Return on equity (ROE)\n%\n2023,Return on equity (ROE)\n%\n2022,Return on equity (ROE)\n%\n2021,Return on equity (ROE)\n%\n2020,Return on equity (ROE)\n%\n2019,Return on equity (ROE)\n%\n2018,Return on equity (ROE)\n%\n2017,Return on equity (ROE)\n%\n2016,Return on equity (ROE)\n%\n2015,Return on equity (ROE)\n%\n2014,Debt/equity ratio\n%\n2023,Debt/equity ratio\n%\n2022,Debt/equity ratio\n%\n2021,Debt/equity ratio\n%\n2020,Debt/equity ratio\n%\n2019,Debt/equity ratio\n%\n2018,Debt/equity ratio\n%\n2017,Debt/equity ratio\n%\n2016,Debt/equity ratio\n%\n2015,Debt/equity ratio\n%\n2014,Banks/turnover\n%\n2023,Banks/turnover\n%\n2022,Banks/turnover\n%\n2021,Banks/turnover\n%\n2020,Banks/turnover\n%\n2019,Banks/turnover\n%\n2018,Banks/turnover\n%\n2017,Banks/turnover\n%\n2016,Banks/turnover\n%\n2015,Banks/turnover\n%\n2014,Debt/EBITDA ratio\n%\n2023,Debt/EBITDA ratio\n%\n2022,Debt/EBITDA ratio\n%\n2021,Debt/EBITDA ratio\n%\n2020,Debt/EBITDA ratio\n%\n2019,Debt/EBITDA ratio\n%\n2018,Debt/EBITDA ratio\n%\n2017,Debt/EBITDA ratio\n%\n2016,Debt/EBITDA ratio\n%\n2015,Debt/EBITDA ratio\n%\n2014,Total assets turnover (times)\n2023,Total assets turnover (times)\n2022,Total assets turnover (times)\n2021,Total assets turnover (times)\n2020,Total assets turnover (times)\n2019,Total assets turnover (times)\n2018,Total assets turnover (times)\n2017,Total assets turnover (times)\n2016,Total assets turnover (times)\n2015,Total assets turnover (times)\n2014,Number of employees\n2023,Number of employees\n2022,Number of employees\n2021,Number of employees\n2020,Number of employees\n2019,Number of employees\n2018,Number of employees\n2017,Number of employees\n2016,Number of employees\n2015,Number of employees\n2014,TOTAL receivables due from shareholders\nth EUR\n2023,TOTAL receivables due from shareholders\nth EUR\n2022,TOTAL receivables due from shareholders\nth EUR\n2021,TOTAL receivables due from shareholders\nth EUR\n2020,TOTAL receivables due from shareholders\nth EUR\n2019,TOTAL receivables due from shareholders\nth EUR\n2018,TOTAL receivables due from shareholders\nth EUR\n2017,TOTAL receivables due from shareholders\nth EUR\n2016,TOTAL receivables due from shareholders\nth EUR\n2015,TOTAL receivables due from shareholders\nth EUR\n2014,Called share capital\nth EUR\n2023,Called share capital\nth EUR\n2022,Called share capital\nth EUR\n2021,Called share capital\nth EUR\n2020
985,986.0,SECI ENERGIA S.P.A.,2602271203,40136.0,11.338145,44.487081,40123.0,Active,Joint stock company - SPA,Limited company,2005-11-23,10.0,2017-12-31,Composition with creditors,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-26,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,186.0,SECI ENERGIA S.P.A.,NaN,NaN,NaN,NaN,NaN,NaN,3623.310,5466.038,8399.206,6960.561,NaN,NaN,NaN,NaN,NaN,NaN,-2602.255,2941.651,-464.575,2873.813,NaN,NaN,NaN,NaN,NaN,NaN,1541.211,-1986.751,211.594,2893.144,NaN,NaN,NaN,NaN,NaN,NaN,239103.606,214081.160,179458.845,229974.968,NaN,NaN,NaN,NaN,NaN,NaN,87332.626,85725.081,87796.691,113085.097,NaN,NaN,NaN,NaN,NaN,NaN,82034.713,99419.066,69779.559,70955.839,NaN,NaN,NaN,NaN,NaN,NaN,-38.03,25.67,-5.23,24.99,NaN,NaN,NaN,NaN,NaN,NaN,-41.86,-20,-17.43,18.73,NaN,NaN,NaN,NaN,NaN,NaN,-1.20,-1.07,-0.86,0.94,NaN,NaN,NaN,NaN,NaN,NaN,1.76,-2.32,0.24,2.56,NaN,NaN,NaN,NaN,NaN,NaN,0.94,1.16,0.80,0.63,NaN,NaN,NaN,NaN,NaN,NaN,n.s.,n.s.,n.s.,n.s.,NaN,NaN,NaN,NaN,NaN,NaN,-31.56,33.82,-151.29,24.9,NaN,NaN,NaN,NaN,NaN,NaN,0.02,0.03,0.05,0.03,NaN,NaN,NaN,NaN,NaN,NaN,21.0,25.0,25.0,41.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
986,987.0,COOPERATIVA BASELICE SOCIETA' COOPERATIVA AGRI...,2218090591,4016.0,13.024707,41.300254,NaN,In liquidation,Cooperative company with limited liability by ...,Limited company,2004-07-20,10.0,2017-12-31,Compulsory administrative liquidation,State of insolvency,NaN,NaN,NaN,NaN,NaN,2022-05-10,2021-06-11,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,187.0,COOPERATIVA BASELICE SOCIETA' COOPERATIVA AGRI...,NaN,NaN,NaN,NaN,NaN,NaN,3619.356,3471.719,3978.655,3824.008,NaN,NaN,NaN,NaN,NaN,NaN,176.081,129.107,52.247,106.568,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,0.000,6.200,NaN,NaN,NaN,NaN,NaN,NaN,4479.944,3787.300,3112.111,2953.688,NaN,NaN,NaN,NaN,NaN,NaN,388.980,389.480,386.980,386.981,NaN,NaN,NaN,NaN,NaN,NaN,1830.121,1527.139,1250.008,976.995,NaN,NaN,NaN,NaN,NaN,NaN,4.81,3.17,1.28,2.79,NaN,NaN,NaN,NaN,NaN,NaN,3.7,2.04,0.18,2.31,NaN,NaN,NaN,NaN,NaN,NaN,3.03,2.20,0.24,2.99,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1.6,NaN,NaN,NaN,NaN,NaN,NaN,4.78,4.15,3.42,2.57,NaN,NaN,NaN,NaN,NaN,NaN,46.86,37.56,32.46,18.63,NaN,NaN,NaN,NaN,NaN,NaN,10.57,12.53,25.35,9.32,NaN,NaN,NaN,NaN,NaN,NaN,0.81,0.92,1.28,1.29,NaN,NaN,NaN,NaN,NaN,NaN,40.0,20.0,12.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
987,988.0,CO & CI DISTRIBUTORI E DEPOSITI SOCIETA' A RES...,1795590494,57121.0,10.326035,43.561230,57121.0,Active,Limited liability company - SRL,Limited company,2014-10-02,8.0,2022-12-31,Composition with creditors,Protective and precautionary measures,Unified procedure,NaN,NaN,NaN,NaN,2023-09-04,2023-05-10,2023-04-21,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,188.0,CO & CI DISTRIBUTORI E DEPOSITI SOCIETA' A RES...,NaN,3617.203,6823.047,NaN,12404.953,16157.866,17150.343,21770.053,10255.786,0.000,NaN,-328.615,-571.175,NaN,-123.446,-101.404,74.428,87.852,190.988,-1.565,NaN,-433.759,-790.514,NaN,-122.700,-90.166,50.698,93.873,102.835,-1.928,NaN,2604.761,3246.016,NaN,3876.795,3990.327,5288.843,4939.827,4553.927,11.772,NaN,-1519.051,-1085.294,NaN,92.612,150.311,240.479,189.780,110.904,8.072,NaN,25.796,-95.788,NaN,-144.484,-306.416,-413.785,-688.210,-1115.621,-10.204,NaN,-8.24,-8.17,NaN,-0.97,-0.61,0.42,0.4,1.86,NaN,NaN,-10.46,-8.17,NaN,-1.46,-1,0.06,0.25,1.49,NaN,NaN,-16.01,-17.60,NaN,-4.80,-4.13,0.20,1.14,3.37,-16.15,NaN,n.s.,n.s.,NaN,-132.49,-59.99,21.08,49.46,92.72,-23.89,NaN,-0.02,-0.03,NaN,0.00,0.00,0.0,0.0,0.00,0,NaN,0.75,0.43,NaN,0,0,0,0,0,NaN,NaN,-0.09,-0.05,NaN,0.0,0,0.0,0.0,0,0.0,NaN,1.39,2.1,NaN,3.2,4.05,3.24,4.41,2.25,0,NaN,11.0,14.0,NaN,27.0,27.0,31.0,34.0,34.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN
988,989.0,TINTORIA MORETTI S.R.L.,708470158,20836.0,9.237839,45.701753,20836.0,Active,Limited liability company - SRL,Limited company,1961-04-06,10.0,2023-12-31,Transfer to another province,Composition with creditors,Composition with creditors,Composition with creditors,NaN,NaN,NaN,2013-08-06,2012-08-10,2012-08-10,2012-08-10,NaT,NaT,NaT,NaT,2013-05-23,2018-06-11,NaT,NaT,NaT,NaT,189.0,TINTORIA MORETTI S.R.L.,3612.737,5005.017,3656.517,2691.212,3326.703,3394.328,3187.377,2673.976,2728.862,2687.088,406.440,646.339,533.522,165.512,443.008,545.935,688.535,315.194,353.071,282.928,83.292,320.758,171.114,-27.669,215.713,373.677,507.432,88.187,145.819,45.377,5342.648,5886.375,4943.896,4169.559,4151.219,3338.355,3002.877,2820.591,3212.245,3166.753,2287.712,2215.200,1871.410,1699.693,1574.196,1358.480,984.804,477.372,389.185,243.366,-834.371,-10.698,-466.854,-90.188,-199.651,-461.989,139.674,251.298,169.147,82.821,10.67,11.88,14.29,6.02,13.26,15.9,21.46,11.77,12.88,10.47,1.67,5.89,5.7,-1.22,8.89,12.03,17.68,4.26,6.74,3.76,1.19,5.44,4.30,-0.80,7.16,12.38,18.89,4.04,5.75,3.21,3.64,14.48,9.14,-1.63,13.7,27.51,51.53,18.47,37.47,18.65,0.34,0.48,0.49,0.45,0.44,0.21,0.48,1.45,2.17,2.85,20.16,19.71,24.14,25.39,17.21,3.28,7.67,15.83,20.96,25.68,1.89,1.66,1.71,4.63,1.57,0.53,0.69,2.2,2.39,2.45,0.68,0.85,0.74,0.65,0.8,1.02,1.06,0.95,0.85,0.85,30.0,28.0,28.0,28.0,27.0,27.0,26.0,27.0,26.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
989,990.0,TIPOLITOGRAFIA TRULLO - SOCIETA A RESPONSABILI...,5054751002,148.0,12.438959,41.833578,NaN,Dissolved,Limited liability company - SRL,Limited company,1996-02-22,10.0,2014-12-31,Cancellation from the register of companies,Bankruptcy,Winding up and liquidation,NaN,NaN,NaN,NaN,2020-11-10,2017-06-20,2016-04-28,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,190.0,TIPOLITOGRAFIA TRULLO - SOCIETA A RESPONSABILI...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3612.366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-272.491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-205.693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2834.424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,534.598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202.871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-7.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-7.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-38.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
990,991.0,GRADIMARKET SOCIETA' A RESPONSABILITA' LIMITAT...,7447430724,75100.0,16.419107,40.821349,NaN,Active (insolvency proceedings),Limited liability company - SRL,Limited company,2013-02-22,10.0,2023-12-31,Composition with creditors,Protective and precautionary measures,Winding up and liquidation,NaN,NaN,NaN,NaN,2025-02-28,2024-09-17,2024-04-09,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,191.0,GRADIMARKET SOCIETA' A RESPONSABILITA' LIMITAT...,3611.735,5859.918,8481.635,8335.169,6217.717,5413.562,5317.929,5278.741,3189.761,1298.261,-961.998,-301.628,485.640,343.913,265.876,57.504,135.672,90.531,61.621,34.276,-2056.015,-407.659,51.460,42.107,28.958,11.598,32.843,23.137,15.745,0.090,2211.465,3939.961,3228.480,2665.112,2311.094,1798.929,966.247,976.711,1018.638,368.986,-2100.016,-44.004,363.659,173.650,131.541,102.587,105.776,51.508,28.370,12.625,2785.811,2373.117,1156.572,218.572,480.220,385.384,-119.579,-25.860,-143.040,-49.947,-26.17,-4.79,5.29,4.06,4.02,0.98,2.53,1.69,1.93,2.64,n.s.,-4.81,1.44,0.98,0.8,0.76,1.74,1.11,1.36,1.26,-91.50,-7.69,4.09,3.11,2.29,2.49,9.64,6.09,4.28,4.42,n.s.,n.s.,14.15,24.25,22.01,11.31,31.05,44.92,55.5,0.71,-1.34,-59.03,3.72,4.78,6.02,4.49,0.27,1.73,3.88,2.1,76.54,41.25,14.76,9.81,11.38,7.85,0.54,1.32,2.74,0,-2.92,-8.61,2.79,2.41,2.98,8,0.21,0.99,1.79,0.77,1.63,1.49,2.63,3.13,2.69,3.01,n.s.,n.s.,3.13,3.52,34.0,42.0,55.0,85.0,41.0,33.0,31.0,31.0,18.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
991,992.0,NUOVA A.S.EC. SOCIETA' COOPERATIVA,12949390152,20068.0,9.285357,45.441129,NaN,Active (default of payments),Cooperative company with limited liability by ...,Limited company,1999-10-25,10.0,2015-12-31,State of insolvency,Compulsory administrative liquidation,NaN,NaN,NaN,NaN,NaN,2019-08-01,2017-10-09,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,192.0,NUOVA A.S.EC. SOCIETA' COOPERATIVA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3596.603,3472.046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.896,-56.787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-156.993,-154.882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7262.943,6852.968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-449.974,-498.765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-80.133,-261.129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.89,-1.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.31,-2.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.65,-1.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n.s.,n.s.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,0.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.0,123.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
992,993.0,GESTIONE SERVIZI BOLOGNA SOCIETA' COOPERATIVA,3090921200,40050.0,11.349318,44.642602,NaN,Dissolved (bankruptcy),Cooperative company with limited liability by ...,Limited company,2011-01-17,4.0,2014-12-31,Conclusion of bankruptcy procedures,Bankruptcy,NaN,NaN,NaN,NaN,NaN,2019-10-21,2017-06-05,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,193.0,GESTIONE SERVIZI BOLOGNA SOCIETA' COOPERATIVA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3590.903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-353.907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-502.489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3035.644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-558.049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-12.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-14.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n.s.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
993,994.0,R.B. AUTOMAZIONI S.R.L.,2361240241,36050.0,11.369066,45.489839,NaN,Dissolved (liquidation),Limited liability company - SRL,Limited company,1993-09-22,10.0,2014-12-31,Conclusion of liquidation,Composition with creditors,Winding up and liquidation,NaN,NaN,NaN,NaN,2022-01-28,2015-09-02,2015-04-10,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,194.0,R.B. AUTOMAZIONI S.R.L.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3572.924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1071.517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1266.982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2986.995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1053.986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,935.589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-29.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-31.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-38.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n.s.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
994,995.0,PULIZIA 360 S.R.L.,12643431005,141.0,NaN,NaN,NaN,Active,One-person company with limited liability - SRL,Limited company,2013-11-28,3.0,2015-12-31,Cancellation from the register of companies,Bankruptcy,NaN,NaN,NaN,NaN,NaN,2021-11-03,2019-12-05,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,195.0,PULIZIA 360 S.R.L.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3571.912,545.682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.728,23.938,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.078,-1.952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,664.839,2853.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.892,23.814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.173,-0.860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.47,4.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.46,4.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.45,0.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.65,-8.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n.s.,0.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
995,996.0,INOX-SABAT S.R.L. IN LIQUIDAZIONE,1039170376,40010.0,11.419135,44.635302,NaN,Dissolved (bankruptcy),Limited liability company - SRL,Limited company,1955-07-09,6.0,2015-12-31,Conclusion of bankruptcy procedures,Bankruptcy,Winding up and liquidation,NaN,NaN,NaN,NaN,2021-12-07,2018-02-02,2017-11-15,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,196.0,INOX-SABAT S.R.L. IN LIQUIDAZIONE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3555.397,4388.341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,482.672,-13.648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.756,-54.854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4145.820,4447.423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.256,13.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,601.451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.27,-0.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.51,-0.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.33,-0.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.95,n.s.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.86,0.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [ ]:
print(df.shape)

(2000, 4276)

In [ ]:
#@title visualize big database

# Show *every* column
pd.set_option('display.max_columns', 1000)

# (Optionally widen your display so lines don’t wrap too crazily)
pd.set_option('display.width', 20)
pd.set_option('display.max_colwidth', 50)

# Now when you do…

#print(final_df.iloc[:, :10])
df.iloc[985:1015, :200]

,Unnamed: 0_x,Company name_x,Tax code number,Registered office address - Postal code,Registered office address - Longitude,Registered office address - Latitude,Trading address - Postal code,Legal status,Legal form,Company category,Incorporation year,No of available years,Last accounting closing date,Event 0,Event -1,Event -2,Event -3,Event -4,Event -5,Event -6,Date of open Event 0,Date of open Event -1,Date of open Event -2,Date of open Event -3,Date of open Event -4,Date of open Event -5,Date of open Event -6,Date of closure Event 0,Date of closure Event -1,Date of closure Event -2,Date of closure Event -3,Date of closure Event -4,Date of closure Event -5,Date of closure Event -6,Unnamed: 0_y,Company name_y,Revenues from sales and services\nth EUR\n2023,Revenues from sales and services\nth EUR\n2022,Revenues from sales and services\nth EUR\n2021,Revenues from sales and services\nth EUR\n2020,Revenues from sales and services\nth EUR\n2019,Revenues from sales and services\nth EUR\n2018,Revenues from sales and services\nth EUR\n2017,Revenues from sales and services\nth EUR\n2016,Revenues from sales and services\nth EUR\n2015,Revenues from sales and services\nth EUR\n2014,EBITDA\nth EUR\n2023,EBITDA\nth EUR\n2022,EBITDA\nth EUR\n2021,EBITDA\nth EUR\n2020,EBITDA\nth EUR\n2019,EBITDA\nth EUR\n2018,EBITDA\nth EUR\n2017,EBITDA\nth EUR\n2016,EBITDA\nth EUR\n2015,EBITDA\nth EUR\n2014,Profit (loss)\nth EUR\n2023,Profit (loss)\nth EUR\n2022,Profit (loss)\nth EUR\n2021,Profit (loss)\nth EUR\n2020,Profit (loss)\nth EUR\n2019,Profit (loss)\nth EUR\n2018,Profit (loss)\nth EUR\n2017,Profit (loss)\nth EUR\n2016,Profit (loss)\nth EUR\n2015,Profit (loss)\nth EUR\n2014,Total assets\nth EUR\n2023,Total assets\nth EUR\n2022,Total assets\nth EUR\n2021,Total assets\nth EUR\n2020,Total assets\nth EUR\n2019,Total assets\nth EUR\n2018,Total assets\nth EUR\n2017,Total assets\nth EUR\n2016,Total assets\nth EUR\n2015,Total assets\nth EUR\n2014,Total shareholder's funds\nth EUR\n2023,Total shareholder's funds\nth EUR\n2022,Total shareholder's funds\nth EUR\n2021,Total shareholder's funds\nth EUR\n2020,Total shareholder's funds\nth EUR\n2019,Total shareholder's funds\nth EUR\n2018,Total shareholder's funds\nth EUR\n2017,Total shareholder's funds\nth EUR\n2016,Total shareholder's funds\nth EUR\n2015,Total shareholder's funds\nth EUR\n2014,Net financial position\nth EUR\n2023,Net financial position\nth EUR\n2022,Net financial position\nth EUR\n2021,Net financial position\nth EUR\n2020,Net financial position\nth EUR\n2019,Net financial position\nth EUR\n2018,Net financial position\nth EUR\n2017,Net financial position\nth EUR\n2016,Net financial position\nth EUR\n2015,Net financial position\nth EUR\n2014,EBITDA/Vendite\n%\n2023,EBITDA/Vendite\n%\n2022,EBITDA/Vendite\n%\n2021,EBITDA/Vendite\n%\n2020,EBITDA/Vendite\n%\n2019,EBITDA/Vendite\n%\n2018,EBITDA/Vendite\n%\n2017,EBITDA/Vendite\n%\n2016,EBITDA/Vendite\n%\n2015,EBITDA/Vendite\n%\n2014,Return on sales (ROS)\n%\n2023,Return on sales (ROS)\n%\n2022,Return on sales (ROS)\n%\n2021,Return on sales (ROS)\n%\n2020,Return on sales (ROS)\n%\n2019,Return on sales (ROS)\n%\n2018,Return on sales (ROS)\n%\n2017,Return on sales (ROS)\n%\n2016,Return on sales (ROS)\n%\n2015,Return on sales (ROS)\n%\n2014,Return on asset (ROA)\n%\n2023,Return on asset (ROA)\n%\n2022,Return on asset (ROA)\n%\n2021,Return on asset (ROA)\n%\n2020,Return on asset (ROA)\n%\n2019,Return on asset (ROA)\n%\n2018,Return on asset (ROA)\n%\n2017,Return on asset (ROA)\n%\n2016,Return on asset (ROA)\n%\n2015,Return on asset (ROA)\n%\n2014,Return on equity (ROE)\n%\n2023,Return on equity (ROE)\n%\n2022,Return on equity (ROE)\n%\n2021,Return on equity (ROE)\n%\n2020,Return on equity (ROE)\n%\n2019,Return on equity (ROE)\n%\n2018,Return on equity (ROE)\n%\n2017,Return on equity (ROE)\n%\n2016,Return on equity (ROE)\n%\n2015,Return on equity (ROE)\n%\n2014,Debt/equity ratio\n%\n2023,Debt/equity ratio\n%\n2022,Debt/equity ratio\n%\n2021,Debt/equity ratio\n%\n2020,Debt/equity ratio\n%\n2019,Debt/equity ratio\n%\n2018,Debt/equity ratio\n%\n2017,Debt/equity ratio\n%\n2016,Debt/equity ratio\n%\n2015,Debt/equity ratio\n%\n2014,Banks/turnover\n%\n2023,Banks/turnover\n%\n2022,Banks/turnover\n%\n2021,Banks/turnover\n%\n2020,Banks/turnover\n%\n2019,Banks/turnover\n%\n2018,Banks/turnover\n%\n2017,Banks/turnover\n%\n2016,Banks/turnover\n%\n2015,Banks/turnover\n%\n2014,Debt/EBITDA ratio\n%\n2023,Debt/EBITDA ratio\n%\n2022,Debt/EBITDA ratio\n%\n2021,Debt/EBITDA ratio\n%\n2020,Debt/EBITDA ratio\n%\n2019,Debt/EBITDA ratio\n%\n2018,Debt/EBITDA ratio\n%\n2017,Debt/EBITDA ratio\n%\n2016,Debt/EBITDA ratio\n%\n2015,Debt/EBITDA ratio\n%\n2014,Total assets turnover (times)\n2023,Total assets turnover (times)\n2022,Total assets turnover (times)\n2021,Total assets turnover (times)\n2020,Total assets turnover (times)\n2019,Total assets turnover (times)\n2018,Total assets turnover (times)\n2017,Total assets turnover (times)\n2016,Total assets turnover (times)\n2015,Total assets turnover (times)\n2014,Number of employees\n2023,Number of employees\n2022,Number of employees\n2021,Number of employees\n2020,Number of employees\n2019,Number of employees\n2018,Number of employees\n2017,Number of employees\n2016,Number of employees\n2015,Number of employees\n2014,TOTAL receivables due from shareholders\nth EUR\n2023,TOTAL receivables due from shareholders\nth EUR\n2022,TOTAL receivables due from shareholders\nth EUR\n2021,TOTAL receivables due from shareholders\nth EUR\n2020,TOTAL receivables due from shareholders\nth EUR\n2019,TOTAL receivables due from shareholders\nth EUR\n2018,TOTAL receivables due from shareholders\nth EUR\n2017,TOTAL receivables due from shareholders\nth EUR\n2016,TOTAL receivables due from shareholders\nth EUR\n2015,TOTAL receivables due from shareholders\nth EUR\n2014,Called share capital\nth EUR\n2023,Called share capital\nth EUR\n2022,Called share capital\nth EUR\n2021,Called share capital\nth EUR\n2020
985,986.0,SECI ENERGIA S.P.A.,2602271203,40136.0,11.338145,44.487081,40123.0,Active,Joint stock company - SPA,Limited company,2005-11-23,10.0,2017-12-31,Composition with creditors,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-26,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,186.0,SECI ENERGIA S.P.A.,NaN,NaN,NaN,NaN,NaN,NaN,3623.310,5466.038,8399.206,6960.561,NaN,NaN,NaN,NaN,NaN,NaN,-2602.255,2941.651,-464.575,2873.813,NaN,NaN,NaN,NaN,NaN,NaN,1541.211,-1986.751,211.594,2893.144,NaN,NaN,NaN,NaN,NaN,NaN,239103.606,214081.160,179458.845,229974.968,NaN,NaN,NaN,NaN,NaN,NaN,87332.626,85725.081,87796.691,113085.097,NaN,NaN,NaN,NaN,NaN,NaN,82034.713,99419.066,69779.559,70955.839,NaN,NaN,NaN,NaN,NaN,NaN,-38.03,25.67,-5.23,24.99,NaN,NaN,NaN,NaN,NaN,NaN,-41.86,-20,-17.43,18.73,NaN,NaN,NaN,NaN,NaN,NaN,-1.20,-1.07,-0.86,0.94,NaN,NaN,NaN,NaN,NaN,NaN,1.76,-2.32,0.24,2.56,NaN,NaN,NaN,NaN,NaN,NaN,0.94,1.16,0.80,0.63,NaN,NaN,NaN,NaN,NaN,NaN,n.s.,n.s.,n.s.,n.s.,NaN,NaN,NaN,NaN,NaN,NaN,-31.56,33.82,-151.29,24.9,NaN,NaN,NaN,NaN,NaN,NaN,0.02,0.03,0.05,0.03,NaN,NaN,NaN,NaN,NaN,NaN,21.0,25.0,25.0,41.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
986,987.0,COOPERATIVA BASELICE SOCIETA' COOPERATIVA AGRI...,2218090591,4016.0,13.024707,41.300254,NaN,In liquidation,Cooperative company with limited liability by ...,Limited company,2004-07-20,10.0,2017-12-31,Compulsory administrative liquidation,State of insolvency,NaN,NaN,NaN,NaN,NaN,2022-05-10,2021-06-11,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,187.0,COOPERATIVA BASELICE SOCIETA' COOPERATIVA AGRI...,NaN,NaN,NaN,NaN,NaN,NaN,3619.356,3471.719,3978.655,3824.008,NaN,NaN,NaN,NaN,NaN,NaN,176.081,129.107,52.247,106.568,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,0.000,6.200,NaN,NaN,NaN,NaN,NaN,NaN,4479.944,3787.300,3112.111,2953.688,NaN,NaN,NaN,NaN,NaN,NaN,388.980,389.480,386.980,386.981,NaN,NaN,NaN,NaN,NaN,NaN,1830.121,1527.139,1250.008,976.995,NaN,NaN,NaN,NaN,NaN,NaN,4.81,3.17,1.28,2.79,NaN,NaN,NaN,NaN,NaN,NaN,3.7,2.04,0.18,2.31,NaN,NaN,NaN,NaN,NaN,NaN,3.03,2.20,0.24,2.99,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1.6,NaN,NaN,NaN,NaN,NaN,NaN,4.78,4.15,3.42,2.57,NaN,NaN,NaN,NaN,NaN,NaN,46.86,37.56,32.46,18.63,NaN,NaN,NaN,NaN,NaN,NaN,10.57,12.53,25.35,9.32,NaN,NaN,NaN,NaN,NaN,NaN,0.81,0.92,1.28,1.29,NaN,NaN,NaN,NaN,NaN,NaN,40.0,20.0,12.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
987,988.0,CO & CI DISTRIBUTORI E DEPOSITI SOCIETA' A RES...,1795590494,57121.0,10.326035,43.561230,57121.0,Active,Limited liability company - SRL,Limited company,2014-10-02,8.0,2022-12-31,Composition with creditors,Protective and precautionary measures,Unified procedure,NaN,NaN,NaN,NaN,2023-09-04,2023-05-10,2023-04-21,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,188.0,CO & CI DISTRIBUTORI E DEPOSITI SOCIETA' A RES...,NaN,3617.203,6823.047,NaN,12404.953,16157.866,17150.343,21770.053,10255.786,0.000,NaN,-328.615,-571.175,NaN,-123.446,-101.404,74.428,87.852,190.988,-1.565,NaN,-433.759,-790.514,NaN,-122.700,-90.166,50.698,93.873,102.835,-1.928,NaN,2604.761,3246.016,NaN,3876.795,3990.327,5288.843,4939.827,4553.927,11.772,NaN,-1519.051,-1085.294,NaN,92.612,150.311,240.479,189.780,110.904,8.072,NaN,25.796,-95.788,NaN,-144.484,-306.416,-413.785,-688.210,-1115.621,-10.204,NaN,-8.24,-8.17,NaN,-0.97,-0.61,0.42,0.4,1.86,NaN,NaN,-10.46,-8.17,NaN,-1.46,-1,0.06,0.25,1.49,NaN,NaN,-16.01,-17.60,NaN,-4.80,-4.13,0.20,1.14,3.37,-16.15,NaN,n.s.,n.s.,NaN,-132.49,-59.99,21.08,49.46,92.72,-23.89,NaN,-0.02,-0.03,NaN,0.00,0.00,0.0,0.0,0.00,0,NaN,0.75,0.43,NaN,0,0,0,0,0,NaN,NaN,-0.09,-0.05,NaN,0.0,0,0.0,0.0,0,0.0,NaN,1.39,2.1,NaN,3.2,4.05,3.24,4.41,2.25,0,NaN,11.0,14.0,NaN,27.0,27.0,31.0,34.0,34.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN
988,989.0,TINTORIA MORETTI S.R.L.,708470158,20836.0,9.237839,45.701753,20836.0,Active,Limited liability company - SRL,Limited company,1961-04-06,10.0,2023-12-31,Transfer to another province,Composition with creditors,Composition with creditors,Composition with creditors,NaN,NaN,NaN,2013-08-06,2012-08-10,2012-08-10,2012-08-10,NaT,NaT,NaT,NaT,2013-05-23,2018-06-11,NaT,NaT,NaT,NaT,189.0,TINTORIA MORETTI S.R.L.,3612.737,5005.017,3656.517,2691.212,3326.703,3394.328,3187.377,2673.976,2728.862,2687.088,406.440,646.339,533.522,165.512,443.008,545.935,688.535,315.194,353.071,282.928,83.292,320.758,171.114,-27.669,215.713,373.677,507.432,88.187,145.819,45.377,5342.648,5886.375,4943.896,4169.559,4151.219,3338.355,3002.877,2820.591,3212.245,3166.753,2287.712,2215.200,1871.410,1699.693,1574.196,1358.480,984.804,477.372,389.185,243.366,-834.371,-10.698,-466.854,-90.188,-199.651,-461.989,139.674,251.298,169.147,82.821,10.67,11.88,14.29,6.02,13.26,15.9,21.46,11.77,12.88,10.47,1.67,5.89,5.7,-1.22,8.89,12.03,17.68,4.26,6.74,3.76,1.19,5.44,4.30,-0.80,7.16,12.38,18.89,4.04,5.75,3.21,3.64,14.48,9.14,-1.63,13.7,27.51,51.53,18.47,37.47,18.65,0.34,0.48,0.49,0.45,0.44,0.21,0.48,1.45,2.17,2.85,20.16,19.71,24.14,25.39,17.21,3.28,7.67,15.83,20.96,25.68,1.89,1.66,1.71,4.63,1.57,0.53,0.69,2.2,2.39,2.45,0.68,0.85,0.74,0.65,0.8,1.02,1.06,0.95,0.85,0.85,30.0,28.0,28.0,28.0,27.0,27.0,26.0,27.0,26.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
989,990.0,TIPOLITOGRAFIA TRULLO - SOCIETA A RESPONSABILI...,5054751002,148.0,12.438959,41.833578,NaN,Dissolved,Limited liability company - SRL,Limited company,1996-02-22,10.0,2014-12-31,Cancellation from the register of companies,Bankruptcy,Winding up and liquidation,NaN,NaN,NaN,NaN,2020-11-10,2017-06-20,2016-04-28,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,190.0,TIPOLITOGRAFIA TRULLO - SOCIETA A RESPONSABILI...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3612.366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-272.491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-205.693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2834.424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,534.598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202.871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-7.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-7.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-38.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
990,991.0,GRADIMARKET SOCIETA' A RESPONSABILITA' LIMITAT...,7447430724,75100.0,16.419107,40.821349,NaN,Active (insolvency proceedings),Limited liability company - SRL,Limited company,2013-02-22,10.0,2023-12-31,Composition with creditors,Protective and precautionary measures,Winding up and liquidation,NaN,NaN,NaN,NaN,2025-02-28,2024-09-17,2024-04-09,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,191.0,GRADIMARKET SOCIETA' A RESPONSABILITA' LIMITAT...,3611.735,5859.918,8481.635,8335.169,6217.717,5413.562,5317.929,5278.741,3189.761,1298.261,-961.998,-301.628,485.640,343.913,265.876,57.504,135.672,90.531,61.621,34.276,-2056.015,-407.659,51.460,42.107,28.958,11.598,32.843,23.137,15.745,0.090,2211.465,3939.961,3228.480,2665.112,2311.094,1798.929,966.247,976.711,1018.638,368.986,-2100.016,-44.004,363.659,173.650,131.541,102.587,105.776,51.508,28.370,12.625,2785.811,2373.117,1156.572,218.572,480.220,385.384,-119.579,-25.860,-143.040,-49.947,-26.17,-4.79,5.29,4.06,4.02,0.98,2.53,1.69,1.93,2.64,n.s.,-4.81,1.44,0.98,0.8,0.76,1.74,1.11,1.36,1.26,-91.50,-7.69,4.09,3.11,2.29,2.49,9.64,6.09,4.28,4.42,n.s.,n.s.,14.15,24.25,22.01,11.31,31.05,44.92,55.5,0.71,-1.34,-59.03,3.72,4.78,6.02,4.49,0.27,1.73,3.88,2.1,76.54,41.25,14.76,9.81,11.38,7.85,0.54,1.32,2.74,0,-2.92,-8.61,2.79,2.41,2.98,8,0.21,0.99,1.79,0.77,1.63,1.49,2.63,3.13,2.69,3.01,n.s.,n.s.,3.13,3.52,34.0,42.0,55.0,85.0,41.0,33.0,31.0,31.0,18.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
991,992.0,NUOVA A.S.EC. SOCIETA' COOPERATIVA,12949390152,20068.0,9.285357,45.441129,NaN,Active (default of payments),Cooperative company with limited liability by ...,Limited company,1999-10-25,10.0,2015-12-31,State of insolvency,Compulsory administrative liquidation,NaN,NaN,NaN,NaN,NaN,2019-08-01,2017-10-09,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,192.0,NUOVA A.S.EC. SOCIETA' COOPERATIVA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3596.603,3472.046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.896,-56.787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-156.993,-154.882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7262.943,6852.968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-449.974,-498.765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-80.133,-261.129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.89,-1.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.31,-2.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.65,-1.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n.s.,n.s.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,0.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.0,123.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
992,993.0,GESTIONE SERVIZI BOLOGNA SOCIETA' COOPERATIVA,3090921200,40050.0,11.349318,44.642602,NaN,Dissolved (bankruptcy),Cooperative company with limited liability by ...,Limited company,2011-01-17,4.0,2014-12-31,Conclusion of bankruptcy procedures,Bankruptcy,NaN,NaN,NaN,NaN,NaN,2019-10-21,2017-06-05,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,193.0,GESTIONE SERVIZI BOLOGNA SOCIETA' COOPERATIVA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3590.903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-353.907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-502.489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3035.644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-558.049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-12.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-14.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n.s.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
993,994.0,R.B. AUTOMAZIONI S.R.L.,2361240241,36050.0,11.369066,45.489839,NaN,Dissolved (liquidation),Limited liability company - SRL,Limited company,1993-09-22,10.0,2014-12-31,Conclusion of liquidation,Composition with creditors,Winding up and liquidation,NaN,NaN,NaN,NaN,2022-01-28,2015-09-02,2015-04-10,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,194.0,R.B. AUTOMAZIONI S.R.L.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3572.924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1071.517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1266.982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2986.995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1053.986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,935.589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-29.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-31.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-38.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n.s.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
994,995.0,PULIZIA 360 S.R.L.,12643431005,141.0,NaN,NaN,NaN,Active,One-person company with limited liability - SRL,Limited company,2013-11-28,3.0,2015-12-31,Cancellation from the register of companies,Bankruptcy,NaN,NaN,NaN,NaN,NaN,2021-11-03,2019-12-05,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,195.0,PULIZIA 360 S.R.L.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3571.912,545.682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.728,23.938,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.078,-1.952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,664.839,2853.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.892,23.814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.173,-0.860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.47,4.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.46,4.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.45,0.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.65,-8.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n.s.,0.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
995,996.0,INOX-SABAT S.R.L. IN LIQUIDAZIONE,1039170376,40010.0,11.419135,44.635302,NaN,Dissolved (bankruptcy),Limited liability company - SRL,Limited company,1955-07-09,6.0,2015-12-31,Conclusion of bankruptcy procedures,Bankruptcy,Winding up and liquidation,NaN,NaN,NaN,NaN,2021-12-07,2018-02-02,2017-11-15,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,196.0,INOX-SABAT S.R.L. IN LIQUIDAZIONE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3555.397,4388.341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,482.672,-13.648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.756,-54.854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4145.820,4447.423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.256,13.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,601.451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.27,-0.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.51,-0.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.33,-0.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.95,n.s.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.86,0.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [ ]:
#@title LIST MISSING VARIABLES

# 1) Count columns that are 100% missing
all_nan = df.columns[df.isna().all()]
print(f"Columns with all NaN: {len(all_nan)}")

# 2) Drop them
df.drop(columns=all_nan, inplace=True)

# 3) Show the list of dropped columns
print("Dropped columns:")
for col in all_nan:
    print(f" - {col}")

In [ ]:
#@title RANK OF MISSING in NON-MISSING VARIABLES

# 4) Compute missing counts for the rest, sort descending
missing_counts = df.isna().sum().sort_values(ascending=False)

# Ensure pandas will print all rows
pd.set_option('display.max_rows', None)

print("\nMissing‐value counts for remaining columns (desc):")
print(missing_counts)

In [ ]:
#@title SAVE PROCESSED DATASET
import pickle

# Save the processed dataset
save_path = path_data + 'processed_df_start.pkl'
df_start.to_pickle(save_path)
print(f"✅ Saved processed dataset to: {save_path}")
print(f"Shape: {df_start.shape}, Size: {df_start.memory_usage(deep=True).sum() / 1024**2:.1f} MB")

✅ Saved processed dataset to: /content/drive/MyDrive/SETUP DEFINITIVO/Temporaneo, lezioni ML/AIDA/DATA/model_test/processed_df_start.pkl
Shape: (3273, 16), Size: 1.5 MB

### (#) open dataset created

In [ ]:
#@title LOAD PROCESSED DATASET (with missing) BIG PROBLEM
import pickle

# Load the pre-processed dataset
load_path = path_data + 'processed_df_start.pkl'

try:
    df_start = pd.read_pickle(load_path)
    print(f"✅ Loaded processed dataset from: {load_path}")
    print(f"Shape: {df_start.shape}")
    print(f"Columns with 'date'/'year': {len([c for c in df_start.columns if re.search(r'(year|date)$', c, re.IGNORECASE)])}")

    # Quick validation that dates are still datetime objects
    date_cols = [c for c in df_start.columns if re.search(r'(year|date)$', c, re.IGNORECASE)]
    if date_cols:
        sample_col = date_cols[0]
        print(f"Date dtype check - {sample_col}: {df_start[sample_col].dtype}")

except FileNotFoundError:
    print("❌ Processed file not found. Run the full import process first.")
except Exception as e:
    print(f"❌ Error loading processed file: {e}")

✅ Loaded processed dataset from: /content/drive/MyDrive/SETUP DEFINITIVO/Temporaneo, lezioni ML/AIDA/DATA/model_test/processed_df_start.pkl
Shape: (3273, 16)
Columns with 'date'/'year': 2
Date dtype check - Incorporation year: datetime64[ns]

### stats

---

In [ ]:
#@title missing variables
# 1) Row‐count sanity: you should still have exactly one row per tax code
n_rows = final_df.shape[0]
n_unique_codes = final_df['Tax code number'].nunique()
print(f"Rows: {n_rows}, Unique Tax codes: {n_unique_codes}")

# 2) Check for any duplicate tax codes (should be zero)
dups = final_df['Tax code number'].duplicated().sum()
print(f"Duplicate keys: {dups}")

# 3) Overall missing‐value summary
missing_per_col = final_df.isna().sum().sort_values(ascending=False)
print("Top 10 columns by # missing values:")
print(missing_per_col.iloc[30:90])

Rows: 2000, Unique Tax codes: 2000
Duplicate keys: 0
Top 10 columns by # missing values:
Tax code number                            0
Legal status                               0
Company category                           0
Registered office address - Postal code    0
dtype: int64

In [ ]:
#@title only missing variables

# 1) Compute total missing per column
missing = final_df.isna().sum()

# 2) Filter to only those with at least one missing
missing = missing[missing > 0]

# 3) Sort descending (largest gaps first)
missing = missing.sort_values(ascending=False)

# 4) Make sure pandas will print every row
pd.set_option('display.max_rows', None)

# 5) Now display
print(missing)

Total cash and cash equivalents at year end\n2018    2000
Total cash and cash equivalents at year end\n2020    2000
Total cash and cash equivalents at year end\n2019    2000
Total cash and cash equivalents at year end\n2021    2000
Total cash and cash equivalents at year end\n2022    2000
Total cash and cash equivalents at year end\n2023    2000
Date of closure Event -6                             2000
Total cash and cash equivalents at year end\n2017    2000
Total cash and cash equivalents at year end\n2014    2000
Total cash and cash equivalents at year end\n2016    2000
Total cash and cash equivalents at year end\n2015    2000
Date of closure Event -5                             1998
Event -6                                             1998
Date of open Event -6                                1998
Date of closure Event -4                             1997
Event -5                                             1995
Date of open Event -5                                1995
Date of closure Event -3                             1988
Date of open Event -4                                1982
Event -4                                             1980
Date of closure Event -2                             1958
Date of closure Event -1                             1923
Date of open Event -3                                1911
Event -3                                             1891
Date of closure Event 0                              1800
Date of open Event -2                                1692
Event -2                                             1662
Date of open Event -1                                1225
Event -1                                             1201
Date of open Event 0                                  856
Event 0                                               844
Accounting closing date\n2023                         757
Accounting model\n2023                                757
Accounting model\n2022                                679
Trading address - Postal code                         679
Accounting closing date\n2022                         679
Accounting model\n2021                                658
Accounting closing date\n2021                         658
Accounting closing date\n2020                         648
Accounting model\n2020                                648
Accounting closing date\n2019                         626
Accounting model\n2019                                626
Accounting model\n2018                                603
Accounting closing date\n2018                         603
Accounting model\n2017                                577
Accounting closing date\n2017                         577
Accounting closing date\n2016                         507
Accounting model\n2016                                507
Accounting model\n2015                                457
Accounting closing date\n2015                         457
Accounting closing date\n2014                         455
Accounting model\n2014                                455
Registered office address - Longitude                  80
Registered office address - Latitude                   80
Incorporation year                                      2
dtype: int64

In [ ]:
#@title visualize big part of database

from google.colab import data_table

# Turn on Colab’s interactive DataFrame display
data_table.enable_dataframe_formatter()

# Now this will show you an interactive, scrollable table
# (you can still slice it to a column range if you like)
#display(final_df)

# — or to only see columns 20 through 39 —
display(final_df.iloc[:, 170:200])

In [ ]:
#@title CHECK COLLINEARITY, MISSINGNESS & MORE (Corrected)

from statsmodels.stats.outliers_influence import variance_inflation_factor

# 0) Use your final, one-row-per-enterprise DataFrame
df = final_df.copy()

# 1) Missing‐value summary on final_df
miss_pct = df.isnull().mean().sort_values(ascending=False)
print(">> Top 10 columns by percent missing:")
print(miss_pct.head(100).apply(lambda x: f"{x:.1%}"))
print("\n>> Columns with 100% missing:")
print(miss_pct[miss_pct == 1.0].index.tolist())

# 2) Data‐type & cardinality overview (drop the list‐column if present)
if 'ALL_events' in df.columns:
    basic = df.drop(columns=['ALL_events'])
else:
    basic = df.copy()

nunique = basic.nunique(dropna=False)
dtype_df = pd.DataFrame({
    'dtype':    basic.dtypes.astype(str),
    'n_unique': nunique
})
print("\n>> Data types and unique counts (sorted by dtype):")
print(dtype_df.sort_values('n_unique').head(10))

# 3) Correlation on numeric features (excluding fully‐missing columns)
#    Select columns with <100% missing, then pick numeric
valid_cols = miss_pct[miss_pct < 1.0].index
num = df[valid_cols].select_dtypes(include=[np.number])

corr = num.corr().abs()
high_corr = (
    corr.where(np.tril(np.ones(corr.shape), k=-1).astype(bool))
        .stack()
        .loc[lambda s: s > 0.90]
        .sort_values(ascending=False)
)
print(f"\n>> Highly correlated pairs (>|0.90|) [count={len(high_corr)}]:")
print(high_corr.head(10))

# 4) Variance Inflation Factor (VIF)
num_for_vif = num.fillna(0).astype(float)
vif_df = pd.DataFrame({
    'variable': num_for_vif.columns,
    'VIF': [
        variance_inflation_factor(num_for_vif.values, i)
        for i in range(num_for_vif.shape[1])
    ]
}).sort_values('VIF', ascending=False)
print("\n>> Top 10 variables by VIF:")
print(vif_df.head(10))

# 5) Distribution diagnostics for numeric columns
print("\n>> Skewness of numeric features:")
print(num.skew().sort_values(ascending=False).head(10))

outliers = ((num - num.mean()).abs() > 3 * num.std()) \
            .sum() \
            .sort_values(ascending=False)
print("\n>> Count of outliers (>|3σ|) per numeric feature:")
print(outliers.head(10))

### dummies bunkruptcy

In [ ]:
final_df

In [ ]:
#@title Create All list
event_cols = [c for c in final_df.columns if c.startswith('Event ')]
final_df['ALL_events'] = final_df[event_cols] \
    .apply(lambda row: [e for e in row.dropna().tolist()], axis=1)

In [ ]:
#@title tabulation of all events in ALL_events

# 1) Explode the ALL_events list into a single long Series
all_events_series = final_df['ALL_events'].explode()

# 2) Compute counts and percentages
counts   = all_events_series.value_counts(dropna=False)
percents = all_events_series.value_counts(normalize=True, dropna=False) * 100

# 3) Assemble into a DataFrame
tab = pd.DataFrame({
    'count':   counts,
    'percent': percents
})
tab.index.name = 'Event'

# 4) Print it (Stata‐style)
print("=== Stata‐style tab of ALL_EVENTS ===")
print(tab.to_string())

tab.to_csv('all_events_tab.csv', sep='|', index=True)
print("Saved pipe-delimited table to all_events_tab.csv")

=== Stata‐style tab of ALL_EVENTS ===
                                                                                                                    count    percent
Event
NaN                                                                                                                   844  25.786740
Composition with creditors                                                                                            739  22.578674
Bankruptcy                                                                                                            315   9.624198
Transfer to another province                                                                                          167   5.102353
Winding up and liquidation                                                                                            156   4.766269
Compulsory administrative liquidation                                                                                 137   4.185762
Cancellation from the register of companies                                                                           130   3.971891
State of insolvency                                                                                                   129   3.941338
Conclusion of bankruptcy procedures                                                                                   115   3.513596
Voluntary liquidation                                                                                                  79   2.413688
Court ordered administration                                                                                           64   1.955393
Winding up                                                                                                             56   1.710969
Merger by incorporation into another company                                                                           54   1.649863
Extraordinary administration                                                                                           39   1.191567
Unified procedure                                                                                                      38   1.161014
Debt restructuring agreements                                                                                          37   1.130461
Judicial liquidation                                                                                                   32   0.977696
Winding up by official order                                                                                           28   0.855484
Post-bankruptcy composition with creditors                                                                             26   0.794378
Court ordered liquidation                                                                                              22   0.672166
Conclusion of liquidation                                                                                              15   0.458295
Creditors agreement                                                                                                    10   0.305530
Protective and precautionary measures                                                                                   9   0.274977
Extraordinary administration large company                                                                              7   0.213871
Cessation of business within the province                                                                               3   0.091659
Administrative compulsory liquidation                                                                                   3   0.091659
Cancelled ex officio pursuant to Article 2490 of the Italian Civil Code                                                 3   0.091659
Cancellation ex officio following creation of Chamber of Commerce, Industry, Craft Trade and Agriculture for Fermo      3   0.091659
Cessation of any business                                                                                               2   0.061106
Other reasons                                                                                                           2   0.061106
Transfer                                                                                                                1   0.030553
Liquidation                                                                                                             1   0.030553
Restructuring plan subject to validation/approval                                                                       1   0.030553
Reason not specified                                                                                                    1   0.030553
Precautionary seizure of shares                                                                                         1   0.030553
Cancellation ex officio of registration with register of companies                                                      1   0.030553
Closure of local branch                                                                                                 1   0.030553
Removal ex officio                                                                                                      1   0.030553
Closure due to bankruptcy or liquidatione                                                                               1   0.030553
Saved pipe-delimited table to all_events_tab.csv

In [ ]:
#@title study of BANKRUPTCY
enterprises = len(final_df)

#BANKRUPTCY
final_df['has_bankruptcy']   = final_df['ALL_events'].apply(lambda evs: 'Bankruptcy' in evs).astype(int)

count_bankruptcy   = final_df['has_bankruptcy'].sum()
ratio_bankruptcy   = round(count_bankruptcy   / enterprises * 100, 5)

print(f"Enterprises with ≥1 ‘Bankruptcy’ event: {count_bankruptcy}")
print(f"Total enterprises (rows): {enterprises}")
print(f"Ratio: {ratio_bankruptcy}%\n")

Enterprises with ≥1 ‘Bankruptcy’ event: 301
Total enterprises (rows): 2000
Ratio: 15.05%

In [ ]:
#@title Bankruptcy-LIKE events
# Define non-voluntary event list
nonvol_events = [
    "Bankruptcy",
    "Conclusion of bankruptcy procedures",
    "State of insolvency",
    "Closure due to bankruptcy",
    "Closure due to bankruptcy or liquidatione",
    "Judicial liquidation",
    "Compulsory administrative liquidation",
    "Administrative compulsory liquidation",
    "Court ordered liquidation",
    "Court ordered administration",
    "Extraordinary administration",
    "Extraordinary administration large company",
    "Protective and precautionary measures",
    "Controlled administration"
]

# Identify all Event columns
event_cols = [c for c in final_df.columns if c.startswith('Event ')]

# Create the dummy
final_df['NonVolEvent'] = (
    final_df[event_cols]
      .isin(nonvol_events)
      .any(axis=1)
      .astype(int)
)

# Check distribution
print(final_df['NonVolEvent'].value_counts())

NonVolEvent
0    1423
1     578
Name: count, dtype: int64

In [ ]:
#@title PRE-bankruptcy events
# define your “maybe not voluntary” list
maybe_not_vol = [
    "Debt restructuring agreements",
    "Composition with creditors",
    "Simplified composition with creditors",
    "Creditors agreement",
    "Debt restructuring plan",
    "Post-bankruptcy composition with creditors",
    "Restructuring plan subject to validation/approval"
]

# create the dummy: 1 if any Event N is in that list
final_df['MaybeNonVolEvent'] = (
    final_df[event_cols]
      .isin(maybe_not_vol)
      .any(axis=1)
      .astype(int)
)

# check its distribution
print(final_df['MaybeNonVolEvent'].value_counts())

MaybeNonVolEvent
0    1526
1     475
Name: count, dtype: int64

In [ ]:
#@title all togheder

# Combined dummy: 1 if NonVolEvent==1 OR MaybeNonVolEvent==1
final_df['SeriousEvent'] = (
    (final_df['NonVolEvent'] == 1) |
    (final_df['MaybeNonVolEvent'] == 1)
).astype(int)

# Quick check
print(final_df['SeriousEvent'].value_counts())

SeriousEvent
0    1011
1     990
Name: count, dtype: int64

### TEST COLAB

---

In [ ]:
#@title Reshape Long
import pandas as pd
import numpy as np
import re
import gc

# Starting from `df` which is one row per enterprise

# 1. First, identify columns with years
year_pattern = re.compile(r'(20\d{2})$', re.MULTILINE)
wide_cols = [col for col in df.columns if year_pattern.search(col)]
id_cols = [c for c in df.columns if c not in wide_cols]

print(f"Found {len(wide_cols)} columns with years")
print(f"Number of ID columns: {len(id_cols)}")
print(f"Total enterprises: {len(df)}")

# 2. Extract bankruptcy years BEFORE reshaping
bankruptcy_years = {}
event_cols = [c for c in df.columns if c.startswith('Event ') and not c.startswith('Date of')]

for idx, row in df.iterrows():
    tax_code = row['Tax code number']
    bankruptcy_year = None

    for event_col in event_cols:
        event_value = row[event_col]
        if pd.notna(event_value) and 'bankruptcy' in str(event_value).lower():
            event_num = event_col.replace('Event ', '')
            date_col = f'Date of open Event {event_num}'
            if date_col in df.columns and pd.notna(row[date_col]):
                try:
                    bankruptcy_date = pd.to_datetime(row[date_col])
                    if pd.notna(bankruptcy_date):
                        bankruptcy_year = bankruptcy_date.year
                        break
                except:
                    pass

    if bankruptcy_year:
        bankruptcy_years[tax_code] = bankruptcy_year

print(f"\nFound {len(bankruptcy_years)} enterprises with bankruptcy")

# 3. Create a function to extract variable name and year
def parse_column_name(col_name):
    """Extract clean variable name and year from column"""
    year_match = year_pattern.search(col_name)
    if year_match:
        year = int(year_match.group(1))
        # Get variable name (first line before \n)
        var_name = col_name.split('\n')[0].strip()
        return var_name, year
    return None, None

# 4. Get unique years and variables
years = set()
variables = set()
col_mapping = {}  # Maps (variable, year) to original column name

for col in wide_cols:
    var_name, year = parse_column_name(col)
    if var_name and year:
        years.add(year)
        variables.add(var_name)
        col_mapping[(var_name, year)] = col

years = sorted(years)
variables = sorted(variables)

print(f"\nYears found: {min(years)} to {max(years)}")
print(f"Number of unique variables: {len(variables)}")
print(f"Expected long format rows: {len(df) * len(years):,}")

# 5. Process in chunks to save memory
chunk_size = 100  # Process 100 enterprises at a time
long_chunks = []

print("\nProcessing in chunks to save memory...")

for chunk_start in range(0, len(df), chunk_size):
    chunk_end = min(chunk_start + chunk_size, len(df))

    # Get chunk of enterprises
    df_chunk = df.iloc[chunk_start:chunk_end]

    # Create list to store long format data for this chunk
    chunk_data = []

    for _, row in df_chunk.iterrows():
        tax_code = row['Tax code number']
        bankrupt_year = bankruptcy_years.get(tax_code, None)

        # For each year
        for year in years:
            # Skip years after bankruptcy
            if bankrupt_year and year > bankrupt_year:
                continue

            # Create row for this enterprise-year
            long_row = {}

            # Add ID columns
            for id_col in id_cols:
                long_row[id_col] = row[id_col]

            # Add year
            long_row['Year'] = year

            # Add variable values for this year
            for var_name in variables:
                col_key = (var_name, year)
                if col_key in col_mapping:
                    orig_col = col_mapping[col_key]
                    if orig_col in row.index:
                        long_row[var_name] = row[orig_col]
                    else:
                        long_row[var_name] = np.nan
                else:
                    long_row[var_name] = np.nan

            chunk_data.append(long_row)

    # Convert chunk to dataframe
    chunk_long = pd.DataFrame(chunk_data)
    long_chunks.append(chunk_long)

    # Progress update
    if (chunk_end % 500 == 0) or (chunk_end == len(df)):
        print(f"  Processed {chunk_end}/{len(df)} enterprises...")

    # Clean up memory
    del chunk_data
    gc.collect()

# 6. Combine all chunks
print("\nCombining chunks...")
long_df = pd.concat(long_chunks, ignore_index=True)

# Clean up
del long_chunks
gc.collect()

# 7. Add derived columns
print("\nAdding derived columns...")

# Find name column
name_col = next((c for c in id_cols if 'name' in c.lower() and c != 'Tax code number'), 'Company name')
if name_col in long_df.columns:
    long_df['NameYear'] = long_df[name_col].astype(str) + ' ' + long_df['Year'].astype(str)
    print(f"Using '{name_col}' as name column")

# Add KeyYear
long_df['KeyYear'] = long_df['Tax code number'].astype(str) + ' ' + long_df['Year'].astype(str)

# Add bankruptcy year
long_df['bankruptcy_year'] = long_df['Tax code number'].map(bankruptcy_years)

# 8. Sort the data
long_df = long_df.sort_values(['Tax code number', 'Year']).reset_index(drop=True)

# 9. Display summary
print(f"\nFinal shape: {long_df.shape}")
print(f"Memory usage: {long_df.memory_usage(deep=True).sum() / 1024**3:.2f} GB")
print(f"Unique enterprises: {long_df['Tax code number'].nunique()}")
print(f"Years covered: {long_df['Year'].min()} to {long_df['Year'].max()}")

# 10. Save to file to avoid losing work
print("\nSaving to pickle file...")
long_df.to_pickle(path_data + 'long_format_data.pkl')
print("Saved successfully!")

# Show sample
print("\nSample of reshaped data:")
display(long_df.head(20))

# Show columns
print("\nColumns in long format (first 30):")
for i, col in enumerate(long_df.columns[:30]):
    print(f"  {i+1}. {col}")

Found 3290 columns with years
Number of ID columns: 227
Total enterprises: 2000

Found 308 enterprises with bankruptcy

Years found: 2014 to 2023
Number of unique variables: 338
Expected long format rows: 20,000

Processing in chunks to save memory...
  Processed 500/2000 enterprises...
  Processed 1000/2000 enterprises...
  Processed 1500/2000 enterprises...
  Processed 2000/2000 enterprises...

Combining chunks...

Adding derived columns...
Using 'Unnamed: 0_x' as name column

Final shape: (19072, 569)
Memory usage: 0.10 GB
Unique enterprises: 1990
Years covered: 2014 to 2023

Saving to pickle file...
Saved successfully!

Sample of reshaped data:

,Unnamed: 0_x,Company name_x,Tax code number,Registered office address - Postal code,Registered office address - Longitude,Registered office address - Latitude,Trading address - Postal code,Legal status,Legal form,Company category,Incorporation year,No of available years,Last accounting closing date,Event 0,Event -1,Event -2,Event -3,Event -4,Event -5,Event -6,Date of open Event 0,Date of open Event -1,Date of open Event -2,Date of open Event -3,Date of open Event -4,Date of open Event -5,Date of open Event -6,Date of closure Event 0,Date of closure Event -1,Date of closure Event -2,Date of closure Event -3,Date of closure Event -4,Date of closure Event -5,Unnamed: 0_y,Company name_y,Additions in progress and advances\nth EUR\n2023.1,Additions in progress and advances\nth EUR\n2022.1,Additions in progress and advances\nth EUR\n2021.1,Additions in progress and advances\nth EUR\n2020.1,Additions in progress and advances\nth EUR\n2019.1,Additions in progress and advances\nth EUR\n2018.1,Additions in progress and advances\nth EUR\n2017.1,Additions in progress and advances\nth EUR\n2016.1,Additions in progress and advances\nth EUR\n2015.1,Additions in progress and advances\nth EUR\n2014.1,Receiv. due from parent comp. - beyond 12 months\nth EUR\n2023.1,Receiv. due from parent comp. - beyond 12 months\nth EUR\n2022.1,Receiv. due from parent comp. - beyond 12 months\nth EUR\n2021.1,Receiv. due from parent comp. - beyond 12 months\nth EUR\n2020.1,Receiv. due from parent comp. - beyond 12 months\nth EUR\n2019.1,Receiv. due from parent comp. - beyond 12 months\nth EUR\n2018.1,Receiv. due from parent comp. - beyond 12 months\nth EUR\n2017.1,Receiv. due from parent comp. - beyond 12 months\nth EUR\n2016.1,Receiv. due from parent comp. - beyond 12 months\nth EUR\n2015.1,Receiv. due from parent comp. - beyond 12 months\nth EUR\n2014.1,Receiv. due from subs. Comp.\nth EUR\n2023.1,Receiv. due from subs. Comp.\nth EUR\n2022.1,Receiv. due from subs. Comp.\nth EUR\n2021.1,Receiv. due from subs. Comp.\nth EUR\n2020.1,Receiv. due from subs. Comp.\nth EUR\n2019.1,Receiv. due from subs. Comp.\nth EUR\n2018.1,Receiv. due from subs. Comp.\nth EUR\n2017.1,Receiv. due from subs. Comp.\nth EUR\n2016.1,Receiv. due from subs. Comp.\nth EUR\n2015.1,Receiv. due from subs. Comp.\nth EUR\n2014.1,Receiv. due from parent comp. - beyond 12 months\nth EUR\n2023.2,Receiv. due from parent comp. - beyond 12 months\nth EUR\n2022.2,Receiv. due from parent comp. - beyond 12 months\nth EUR\n2021.2,Receiv. due from parent comp. - beyond 12 months\nth EUR\n2020.2,Receiv. due from parent comp. - beyond 12 months\nth EUR\n2019.2,Receiv. due from parent comp. - beyond 12 months\nth EUR\n2018.2,Receiv. due from parent comp. - beyond 12 months\nth EUR\n2017.2,Receiv. due from parent comp. - beyond 12 months\nth EUR\n2016.2,Receiv. due from parent comp. - beyond 12 months\nth EUR\n2015.2,Receiv. due from parent comp. - beyond 12 months\nth EUR\n2014.2,Due from comp. under parent companies control\nth EUR\n2023.1,Due from comp. under parent companies control\nth EUR\n2022.1,Due from comp. under parent companies control\nth EUR\n2021.1,Due from comp. under parent companies control\nth EUR\n2020.1,Due from comp. under parent companies control\nth EUR\n2019.1,Due from comp. under parent companies control\nth EUR\n2018.1,Due from comp. under parent companies control\nth EUR\n2017.1,Due from comp. under parent companies control\nth EUR\n2016.1,Due from comp. under parent companies control\nth EUR\n2015.1,Due from comp. under parent companies control\nth EUR\n2014.1,Due from comp. under parent companies control - beyond 12 months\nth EUR\n2023.1,Due from comp. under parent companies control - beyond 12 months\nth EUR\n2022.1,Due from comp. under parent companies control - beyond 12 months\nth EUR\n2021.1,Due from comp. under parent companies control - beyond 12 months\nth EUR\n2020.1,Due from comp. under parent companies control - beyond 12 months\nth EUR\n2019.1,Due from comp. under parent companies control - beyond 12 months\nth EUR\n2018.1,Due from comp. under parent companies control - beyond 12 months\nth EUR\n2017.1,Due from comp. under parent companies control - beyond 12 months\nth EUR\n2016.1,Due from comp. under parent companies control - beyond 12 months\nth EUR\n2015.1,Due from comp. under parent companies control - beyond 12 months\nth EUR\n2014.1,Receiv. due from others - beyond 12 months\nth EUR\n2023.1,Receiv. due from others - beyond 12 months\nth EUR\n2022.1,Receiv. due from others - beyond 12 months\nth EUR\n2021.1,Receiv. due from others - beyond 12 months\nth EUR\n2020.1,Receiv. due from others - beyond 12 months\nth EUR\n2019.1,Receiv. due from others - beyond 12 months\nth EUR\n2018.1,Receiv. due from others - beyond 12 months\nth EUR\n2017.1,Receiv. due from others - beyond 12 months\nth EUR\n2016.1,Receiv. due from others - beyond 12 months\nth EUR\n2015.1,Receiv. due from others - beyond 12 months\nth EUR\n2014.1,Own shares\nth EUR\n2023.1,Own shares\nth EUR\n2022.1,Own shares\nth EUR\n2021.1,Own shares\nth EUR\n2020.1,Own shares\nth EUR\n2019.1,Own shares\nth EUR\n2018.1,Own shares\nth EUR\n2017.1,Own shares\nth EUR\n2016.1,Own shares\nth EUR\n2015.1,Own shares\nth EUR\n2014.1,Own shares: par value\nth EUR\n2023.1,Own shares: par value\nth EUR\n2022.1,Own shares: par value\nth EUR\n2021.1,Own shares: par value\nth EUR\n2020.1,Own shares: par value\nth EUR\n2019.1,Own shares: par value\nth EUR\n2018.1,Own shares: par value\nth EUR\n2017.1,Own shares: par value\nth EUR\n2016.1,Own shares: par value\nth EUR\n2015.1,Own shares: par value\nth EUR\n2014.1,Derivatives\nth EUR\n2023.1,Derivatives\nth EUR\n2022.1,Derivatives\nth EUR\n2021.1,Derivatives\nth EUR\n2020.1,Derivatives\nth EUR\n2019.1,Derivatives\nth EUR\n2018.1,Derivatives\nth EUR\n2017.1,Derivatives\nth EUR\n2016.1,Derivatives\nth EUR\n2015.1,Derivatives\nth EUR\n2014.1,Other securities\nth EUR\n2023.1,Other securities\nth EUR\n2022.1,Other securities\nth EUR\n2021.1,Other securities\nth EUR\n2020.1,Other securities\nth EUR\n2019.1,Other securities\nth EUR\n2018.1,Other securities\nth EUR\n2017.1,Other securities\nth EUR\n2016.1,Other securities\nth EUR\n2015.1,Other securities\nth EUR\n2014.1,Advances\nth EUR\n2023.1,Advances\nth EUR\n2022.1,Advances\nth EUR\n2021.1,Advances\nth EUR\n2020.1,Advances\nth EUR\n2019.1,Advances\nth EUR\n2018.1,Advances\nth EUR\n2017.1,Advances\nth EUR\n2016.1,Advances\nth EUR\n2015.1,Advances\nth EUR\n2014.1,Due to suppliers\nth EUR\n2023.1,Due to suppliers\nth EUR\n2022.1,Due to suppliers\nth EUR\n2021.1,Due to suppliers\nth EUR\n2020.1,Due to suppliers\nth EUR\n2019.1,Due to suppliers\nth EUR\n2018.1,Due to suppliers\nth EUR\n2017.1,Due to suppliers\nth EUR\n2016.1,Due to suppliers\nth EUR\n2015.1,Due to suppliers\nth EUR\n2014.1,Revenues from sales and services\nth EUR\n2023.1,Revenues from sales and services\nth EUR\n2022.1,Revenues from sales and services\nth EUR\n2021.1,Revenues from sales and services\nth EUR\n2020.1,Revenues from sales and services\nth EUR\n2019.1,Revenues from sales and services\nth EUR\n2018.1,Revenues from sales and services\nth EUR\n2017.1,Revenues from sales and services\nth EUR\n2016.1,Revenues from sales and services\nth EUR\n2015.1,Revenues from sales and services\nth EUR\n2014.1,Other provisions\nth EUR\n2023.1,Other provisions\nth EUR\n2022.1,Other provisions\nth EUR\n2021.1,Other provisions\nth EUR\n2020.1,Other provisions\nth EUR\n2019.1,Other provisions\nth EUR\n2018.1,Other provisions\nth EUR\n2017.1,Other provisions\nth EUR\n2016.1,Other provisions\nth EUR\n2015.1,Other provisions\nth EUR\n2014.1,Cash and cash equivalents\nth EUR\n2023.1,Cash and cash equivalents\nth EUR\n2022.1,Cash and cash equivalents\nth EUR\n2021.1,Cash and cash equivalents\nth EUR\n2020.1,Cash and cash equivalents\nth EUR\n2019.1,Cash and cash equivalents\nth EUR\n2018.1,Cash and cash equivalents\nth EUR\n2017.1,Cash and cash equivalents\nth EUR\n2016.1,Cash and cash equivalents\nth EUR\n2015.1,Bank and Post office deposits\nth EUR\n2023.1,Bank and Post office deposits\nth EUR\n2022.1,Bank and Post office deposits\nth EUR\n2021.1,Bank and Post office deposits\nth EUR\n2020.1,Bank and Post office deposits\nth EUR\n2019.1,Bank and Post office deposits\nth EUR\n2018.1,Bank and Post office deposits\nth EUR\n2017.1,Bank and Post office deposits\nth EUR\n2016.1,Bank and Post office deposits\nth EUR\n2015.1,Cheques\nth EUR\n2023.1,Cheques\nth EUR\n2022.1,Cheques\nth EUR\n2021.1,Cheques\nth EUR\n2020.1,Cheques\nth EUR\n2019.1,Cheques\nth EUR\n2018.1,Cheques\nth EUR\n2017.1,Cheques\nth EUR\n2016.1,Cash and cash equivalents\nth EUR\n2023.2,Cash and cash equivalents\nth EUR\n2022.2,Cash and cash equivalents\nth EUR\n2021.2,Cash and cash equivalents\nth EUR\n2020.2,Cash and cash equivalents\nth EUR\n2019.2,Cash and cash equivalents\nth EUR\n2018.2,Cash and cash equivalents\nth EUR\n2017.2,Cash and cash equivalents\nth EUR\n2016.2,Cash and cash equivalents\nth EUR\n2015.2,of which restricted\nth EUR\n2023.1,of which restricted\nth EUR\n2022.1,of which restricted\nth EUR\n2021.1,of which restricted\nth EUR\n2020.1,of which restricted\nth EUR\n2019.1,of which restricted\nth EUR\n2018.1,of which restricted\nth EUR\n2017.1,Year,(Amortization provision),(Depreciation provision),(Dividends and interim dividends paid),(Income tax payments),(Loans repayment),(Repayment of capital contributions),(Use of provisions),+/- change in accounts payable,+/- change in accounts receivable,+/- change in accruals and deferred income,+/- change in accruals and prepaid expenses,+/- change in inventories,2) Cash flow before changes in net working capital,3) Cash flow after changes in working capital,Accounting closing date,Accounting model,Accrued income and prepaid exp.,"Acquisition of business and interests in affiliates, net of cash acquired",Added Value,Additions in progress and advances,Additions to fixed assets,Advances,Advances - beyond 12 months,Amort. of intangible fixed assets,Amortisation of tangible assets,Associated companies,Bank and Post office deposits,Bank and postal deposits,Banks/turnover,Bonds,Bonds beyond 12 months,Book Value per share,Called share capital,Capital stock,Cash and cash equivalents,Cash flow from financing activities (C),Cash flow from investments (B),Cash flow from operating activities (A),Cash flow per share,Change in inventory of raw and consumable materials,Change in provisions,Changes in contract work in progress,Changes in inventories,Checks,Cheques,Companies under parent companies control,"Concessions, licenses, trademarks and similar rights",Contract work in progress,Convertible bonds,Convertible bonds - beyond 12 months,Current taxes,Debt/EBITDA ratio,Debt/equity ratio,Depr. of tangible fixed assets,"Depreciation, amortization and writedowns of fixed assets",Derivative liabilities,Derivatives,"Disposal of business and interests in affiliates, net of cash acquired",Dividend down payment,Dividends received,Due from comp. under parent companies control,Due from comp. under parent companies control - beyond 12 months,Due to associated companies,Due to associated companies -beyond 12 months,Due to banks,Due to banks - beyond 12 months,Due to comp. under parent companies control,Due to comp. under parent companies control - beyond 12 months,Due to other lenders,Due to other lenders - beyond 12 months,Due to parent companies,Due to parent companies beyond 12 months,Due to shar. for loans,Due to sharesholders for loans - beyond 12 months,Due to social security institutions,Due to social security institutions - beyond 12 months,Due to subsidiary companies,Due to subsidiary companies - beyond 12 months,Due to suppliers,EBITDA,EBITDA/Vendite,Earnings per share,Employee pensions and similar obligations,Employees,Extraordinary charges,Extraordinary revenues,FIN. RECEIV. WITHIN 12 MONTHS,FINA. RECEIV. BEYOND 12 MONTHS,Fees on loans,Financial assets: (disposal),Financial assets: (investment),Financial charges of which: from financial receivables subs and assoc.,Financial charges of which: of which: from companies under parent companies control,Financial instruments for cash pooling,Finished products and goods,From fin. receiv. (of which: from companies under parent companies control),"From fin. receiv. (of which: from subsidiaries, associated, parent cies and cies under parent cies control)",From financial receivables,From securities,From securities held as current assets,From securities held as fixed assets,Goodwill/Consolidation Difference,Inc. other than the above (of which: from companies under parent companies control),"Inc. other than the above (of which: from subsidiaries, associated, parent cies and cies under parent cies control)",Income (expenses) for adherence to fiscal transparency regime,Income other than the above,Increase in cash capital,Increase/(Decrease) in cash and cash equivalents (A + B + C),Increase/(Decrease) in short-term bank loans,Ind. patents and intellect. property rights,Indust. and commercial equipment,Intangible assets: (disposal),Intangible assets: (investment),Invest. in assoc. comp.,Invest. in comp. under parent companies control,Invest. in parent comp.,Invest. in subs. comp.,Land and buildings,Legal reserve,Long Term Liabilities per share,Market capitalisation,Market price - high,Market price - low,Market price - open,Market price - year end,Monthly - High price - April,Monthly - High price - August,Monthly - High price - December,Monthly - High price - February,Monthly - High price - January,Monthly - High price - July,Monthly - High price - June,Monthly - High price - March,Monthly - High price - May,Monthly - High price - November,Monthly - High price - October,Monthly - High price - September,Monthly - Low price - April,Monthly - Low price - August,Monthly - Low price - December,Monthly - Low price - February,Monthly - Low price - January,Monthly - Low price - July,Monthly - Low price - June,Monthly - Low price - March,Monthly - Low price - May,Monthly - Low price - November,Monthly - Low price - October,Monthly - Low price - September,Monthly - Trading volume - April,Monthly - Trading volume - August,Monthly - Trading volume - December,Monthly - Trading volume - February,Monthly - Trading volume - January,Monthly - Trading volume - July,Monthly - Trading volume - June,Monthly - Trading volume - March,Monthly - Trading volume - May,Monthly - Trading volume - November,Monthly - Trading volume - October,Monthly - Trading volume - September,Negative reserves for own shares (+/-),Negotiable instruments,Negotiable instruments - beyond 12 months,Net effect on cash and cash equivalents,Net financial position,New loans,Nominal value,Non-fixed financial assets: (disposal),Non-fixed financial assets: (investment),Number of employees,Number of months,OPERATING MARGIN,Operating profit per share,Operating revenue (Turnover) per share,Other +/- adjustments of non-monetary items,Other Increase/(decrease) in net working capital,Other adjustments total,Other assets,Other companies,Other costs,Other investments,Other operating expenses,Other payables,Other payables beyond 12 months,Other provisions,Other receipts/(payments),Other reserves,Other revenue,Other securities,Others,Own shares,Own shares: par value,PROFIT (LOSS),PROFIT (LOSS) GROUP,PROFIT/LOSS BEFORE TAXATION,Parent companies,Partial covering for loss of the year,Payables due beyond 12 months,Payables due within 12 months,Pensions and similar obligations,Plant and machinery,Prepaid and deferred taxes,Profit (loss),Profit (loss) for the year,Profit and Loss on Foreign Exchange,Provisions fo risks and charges,RECEIV. DUE BEYOND 12 MONTHS,RECEIV. DUE WITHIN 12 MONTHS,Raw and consumable materials,"Raw, consum. mat. and goods for resale",Receiv. due from assoc. Comp.,Receiv. due from assoc. Comp. - beyond 12 months,Receiv. due from assoc. companies,Receiv. due from assoc. companies - beyond 12 months,Receiv. due from other comp.,Receiv. due from others,Receiv. due from others - beyond 12 months,Receiv. due from parent comp.,Receiv. due from parent comp. - beyond 12 months,Receiv. due from subs. Comp.,Receiv. due from subs. comp. - beyond 12 months,Receiv. due from subs. companies - beyond 12 months,Received /(paid) interests,Research and dev. exp.,Reserve for expected cash flow hedge,Reserve for treasury stock,Retained earnings (losses),Return on asset (ROA),Return on equity (ROE),Return on sales (ROS),Reval. of derivatives,Reval. of equity investments,Reval. of financial instruments for cash pooling,Reval. of other financial assets,Reval. of securities,Revaluation reserves,Revenues from sales and services,SEVERANCE INDEMNITY RESERVE,Sale/(Acquisition) of treasury shares,Services,Severance indemnities,Severance indemnity + Pension + Other costs,Share premium reserve,Shares outstanding,Social security charges,Start-up and expansion costs,Statutory reserves,Stock split ratio,Subsidiary companies,TOTAL ACCRUED EXPENSES AND DEFERRED INCOME,TOTAL ACCRUED INCOME AND PREPAID EXPENSES,TOTAL ASSETS,TOTAL CURRENT ASSETS,TOTAL EXTRAORDINARY REVENUES AND CHARGES,TOTAL FINANCIAL ASSETS,TOTAL FINANCIAL ASSETS ADJUSTMENTS,TOTAL FINANCIAL FIXED ASSETS,TOTAL FINANCIAL INCOME AND CHARGES,TOTAL FIXED ASSETS,TOTAL INTANGIBLE FIXED ASSETS,TOTAL INVENTORIES,TOTAL LIABILITIES AND SHAREHOLDERS' FUNDS,TOTAL LIQUID FUNDS,TOTAL MEMORANDUM ACCOUNTS,TOTAL PAYABLES,TOTAL PRODUCTION COSTS,TOTAL PROVISIONS FOR RISKS AND CHARGES,TOTAL RECEIVABLES,TOTAL SHAREHOLDERS' FUNDS,TOTAL TANGIBLE FIXED ASSETS,TOTAL VALUE OF PRODUCTION,TOTAL WARRANTIES SUPPLIED,TOTAL receivables due from shareholders,Tangible Book Value per share,Tangible assets: (disposal),Tangible assets: (investment),Tangible fixed assets to be sold,Tax payable,Tax payable beyond 12 months,Tax receiv. - beyond 12 months,Tax receiv. for prepaid taxes,Tax receiv. for prepaid taxes - beyond 12 months,Tax receivables,Taxation (including deferred taxation),Taxation related to previous years,Tot. inc. from equity invest. (of which: from companies under parent companies control),Tot. inc. from equity invest. (of which: from parent companies),Total Receivables,Total Revaluations,Total Writedowns,Total adjustments of non-monetary items not accounted for in net working capital,Total assets,Total assets turnover (times),Total cash and cash equivalents at beginning of the year,Total cash and cash equivalents at year end,Total changes,Total changes in net working capital,"Total current, deferred and prepaid income taxes","Total depreciation, amortization and writedowns",Total equity investments,Total financial charges,Total income from equity investments,Total other financial income,Total payables after period,Total payables during period,Total personnel costs,Total shareholder's funds,Trade accounts,Trade accounts - beyond 12 months,Use of third parties assets,Value adjustments of financial income/charges from financial instruments that do not require an exchange of cash,Value corrections for impairment,Wages and salaries,Work in progress and semifinished products,Working Capital per share,Writedown of fixed assets,Writedown of receivables,Writedowns of derivatives,Writedowns of equity invest.,Writedowns of financial instruments for cash pooling,Writedowns of other fin. Ass.,Writedowns of securities,advance taxation (+/-),deferred taxation (+/-),including: Deposits for capital,including: Deposits for loss covering,including: Deposits for future capital increase,including: Goodwill,including: Prepaid call from shareholders,including: deferred taxes,including: leased tangible assets,including: short term,of which capital gains,of which capital losses,of which restricted,of which taxes previous period,operating grants,NameYear,KeyYear,bankruptcy_year

Columns in long format (first 30):
  1. Unnamed: 0_x
  2. Company name_x
  3. Tax code number
  4. Registered office address - Postal code
  5. Registered office address - Longitude
  6. Registered office address - Latitude
  7. Trading address - Postal code
  8. Legal status
  9. Legal form
  10. Company category
  11. Incorporation year
  12. No of available years
  13. Last accounting closing date
  14. Event 0
  15. Event -1
  16. Event -2
  17. Event -3
  18. Event -4
  19. Event -5
  20. Event -6
  21. Date of open Event 0
  22. Date of open Event -1
  23. Date of open Event -2
  24. Date of open Event -3
  25. Date of open Event -4
  26. Date of open Event -5
  27. Date of open Event -6
  28. Date of closure Event 0
  29. Date of closure Event -1
  30. Date of closure Event -2

In [ ]:
#long_df.head()
#final_df.head()
final_df.iloc[985:1015, :200]
#df.iloc[985:1015, :200]

,Unnamed: 0,Company name,Tax code number,Registered office address - Postal code,Registered office address - Longitude,Registered office address - Latitude,Trading address - Postal code,Legal status,Legal form,Company category,Incorporation year,No of available years,Last accounting closing date,Event 0,Event -1,Event -2,Event -3,Event -4,Event -5,Event -6,Date of open Event 0,Date of open Event -1,Date of open Event -2,Date of open Event -3,Date of open Event -4,Date of open Event -5,Date of open Event -6,Date of closure Event 0,Date of closure Event -1,Date of closure Event -2,Date of closure Event -3,Date of closure Event -4,Date of closure Event -5,Date of closure Event -6
985,986.0,SECI ENERGIA S.P.A.,2602271203,40136.0,11.338145,44.487081,40123.0,Active,Joint stock company - SPA,Limited company,2005-11-23,10.0,2017-12-31,Composition with creditors,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-26,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
986,987.0,COOPERATIVA BASELICE SOCIETA' COOPERATIVA AGRI...,2218090591,4016.0,13.024707,41.300254,NaN,In liquidation,Cooperative company with limited liability by ...,Limited company,2004-07-20,10.0,2017-12-31,Compulsory administrative liquidation,State of insolvency,NaN,NaN,NaN,NaN,NaN,2022-05-10,2021-06-11,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
987,988.0,CO & CI DISTRIBUTORI E DEPOSITI SOCIETA' A RES...,1795590494,57121.0,10.326035,43.561230,57121.0,Active,Limited liability company - SRL,Limited company,2014-10-02,8.0,2022-12-31,Composition with creditors,Protective and precautionary measures,Unified procedure,NaN,NaN,NaN,NaN,2023-09-04,2023-05-10,2023-04-21,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
988,989.0,TINTORIA MORETTI S.R.L.,708470158,20836.0,9.237839,45.701753,20836.0,Active,Limited liability company - SRL,Limited company,1961-04-06,10.0,2023-12-31,Transfer to another province,Composition with creditors,Composition with creditors,Composition with creditors,NaN,NaN,NaN,2013-08-06,2012-08-10,2012-08-10,2012-08-10,NaT,NaT,NaT,NaT,2013-05-23,2018-06-11,NaT,NaT,NaT,NaT
989,990.0,TIPOLITOGRAFIA TRULLO - SOCIETA A RESPONSABILI...,5054751002,148.0,12.438959,41.833578,NaN,Dissolved,Limited liability company - SRL,Limited company,1996-02-22,10.0,2014-12-31,Cancellation from the register of companies,Bankruptcy,Winding up and liquidation,NaN,NaN,NaN,NaN,2020-11-10,2017-06-20,2016-04-28,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
990,991.0,GRADIMARKET SOCIETA' A RESPONSABILITA' LIMITAT...,7447430724,75100.0,16.419107,40.821349,NaN,Active (insolvency proceedings),Limited liability company - SRL,Limited company,2013-02-22,10.0,2023-12-31,Composition with creditors,Protective and precautionary measures,Winding up and liquidation,NaN,NaN,NaN,NaN,2025-02-28,2024-09-17,2024-04-09,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
991,992.0,NUOVA A.S.EC. SOCIETA' COOPERATIVA,12949390152,20068.0,9.285357,45.441129,NaN,Active (default of payments),Cooperative company with limited liability by ...,Limited company,1999-10-25,10.0,2015-12-31,State of insolvency,Compulsory administrative liquidation,NaN,NaN,NaN,NaN,NaN,2019-08-01,2017-10-09,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
992,993.0,GESTIONE SERVIZI BOLOGNA SOCIETA' COOPERATIVA,3090921200,40050.0,11.349318,44.642602,NaN,Dissolved (bankruptcy),Cooperative company with limited liability by ...,Limited company,2011-01-17,4.0,2014-12-31,Conclusion of bankruptcy procedures,Bankruptcy,NaN,NaN,NaN,NaN,NaN,2019-10-21,2017-06-05,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
993,994.0,R.B. AUTOMAZIONI S.R.L.,2361240241,36050.0,11.369066,45.489839,NaN,Dissolved (liquidation),Limited liability company - SRL,Limited company,1993-09-22,10.0,2014-12-31,Conclusion of liquidation,Composition with creditors,Winding up and liquidation,NaN,NaN,NaN,NaN,2022-01-28,2015-09-02,2015-04-10,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
994,995.0,PULIZIA 360 S.R.L.,12643431005,141.0,NaN,NaN,NaN,Active,One-person company with limited liability - SRL,Limited company,2013-11-28,3.0,2015-12-31,Cancellation from the register of companies,Bankruptcy,NaN,NaN,NaN,NaN,NaN,2021-11-03,2019-12-05,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
995,996.0,INOX-SABAT S.R.L. IN LIQUIDAZIONE,1039170376,40010.0,11.419135,44.635302,NaN,Dissolved (bankruptcy),Limited liability company - SRL,Limited company,1955-07-09,6.0,2015-12-31,Conclusion of bankruptcy procedures,Bankruptcy,Winding up and liquidation,NaN,NaN,NaN,NaN,2021-12-07,2018-02-02,2017-11-15,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
996,997.0,C.A.R. COOPERATIVA AUTOTRASPORTI ROMA A R.L. I...,8256571004,166.0,12.361889,41.876570,NaN,In liquidation,Cooperative company with limited liability by ...,Limited company,2004-11-26,10.0,2018-12-31,Compulsory administrative liquidation,Winding up and liquidation,Winding up,NaN,NaN,NaN,NaN,2021-11-22,2019-01-24,2019-01-14,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
997,998.0,CATANIA IMPIANTI SOCIETA' A RESPONSABILITA' LI...,5073090879,95037.0,15.105442,37.575722,95037.0,In liquidation,Simplified limited liability company,Limited company,2013-03-21,8.0,2020-12-31,Court ordered liquidation,Judicial liquidation,NaN,NaN,NaN,NaN,NaN,2025-02-04,2023-10-06,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
998,999.0,INCAS PRODUCTION S.R.L.,6758100017,10071.0,7.703643,45.141744,NaN,Dissolved (bankruptcy),Limited liability company - SRL,Limited company,1994-08-04,10.0,2014-12-31,Conclusion of bankruptcy procedures,Bankruptcy,NaN,NaN,NaN,NaN,NaN,2024-01-10,2017-07-20,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
999,1000.0,MILAN SERVICES SOCIETA' COOPERATIVA IN LIQUIDA...,7773650960,142.0,9.264736,45.414865,NaN,Dissolved,Cooperative company with limited liability by ...,Limited company,2012-03-06,4.0,2015-12-31,Cancellation from the register of companies,Bankruptcy,Transfer to another province,Winding up and liquidation,NaN,NaN,NaN,2019-09-12,2018-02-23,2016-06-23,2016-05-30,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1000,1.0,THAI'S S.R.L.,1914330442,63813.0,13.678190,43.189609,63813.0,Active,Limited liability company - SRL,Limited company,2007-01-26,10.0,2023-12-31,Cancellation ex officio following creation of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1001,2.0,SUPERGA MULTISERVIZI SOCIETA' A RESPONSABILITA...,11336190019,10129.0,7.661959,45.064817,10129.0,Active,Limited liability company - SRL,Limited company,2015-05-05,8.0,2022-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1002,3.0,ENDRIZZI RENATO S.R.L.,2456700224,38013.0,NaN,NaN,38013.0,Active,Limited liability company - SRL,Limited company,2017-02-03,7.0,2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1003,4.0,SICURA ASSISTENZA SOCIETA' COOPERATIVA SOCIALE...,15763171004,182.0,12.518586,41.883718,NaN,Dissolved,Cooperative company with limited liability by ...,Limited company,2020-06-30,2.0,2021-12-31,Cancellation from the register of companies,Winding up and liquidation,NaN,NaN,NaN,NaN,NaN,2022-05-04,2021-12-03,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1004,5.0,TREVISIOL SRL,1314010099,17019.0,8.566941,44.358768,17019.0,Active,Limited liability company - SRL,Limited company,2001-11-23,10.0,2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1005,6.0,RED FROG S.R.L.,13218621004,154.0,12.495196,41.871594,154.0,Active,Limited liability company - SRL,Limited company,2015-01-15,9.0,2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1006,7.0,MASSARI IMPIANTI S.R.L.,1049120668,67015.0,13.245036,42.524134,67015.0,Active,Limited liability company - SRL,Limited company,1983-08-16,9.0,2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1007,8.0,HQS S.R.L.,3533730127,21052.0,8.854623,45.613615,21052.0,Active,Limited liability company - SRL,Limited company,2016-04-11,8.0,2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1008,9.0,CMT S.R.L.,2093260244,36030.0,11.444965,45.774113,36030.0,Active,Limited liability company - SRL,Limited company,1989-09-28,10.0,2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1009,10.0,SARTORIA NAPOLETANA S.R.L.,8142211211,80047.0,14.503489,40.836773,80047.0,Active,Limited liability company - SRL,Limited company,2015-07-21,9.0,2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1010,11.0,ROMANO DONATO SRL,1813120514,52025.0,11.559906,43.541639,52025.0,Active,Limited liability company - SRL,Limited company,2004-09-22,10.0,2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1011,12.0,LA FENICE SRL,2818110302,33010.0,13.229943,46.100934,NaN,Dissolved (merger),Limited liability company - SRL,Limited company,2015-05-20,3.0,2017-12-31,Merger by incorporation into another company,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1012,13.0,ORSERO S.P.A.,9160710969,20139.0,9.205224,45.441144,20139.0,Active,Joint stock company - SPA,Limited company,2015-07-15,9.0,2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1013,14.0,SAPORETTI S.R.L.,1976860591,4100.0,12.906523,41.471337,4100.0,Active,Limited liability company - SRL,Limited company,2000-03-09,10.0,2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1014,15.0,METAL SEBINA S.R.L.,3128400987,25050.0,10.131042,45.834904,25050.0,Active,Limited liability company - SRL,Limited company,2009-06-19,10.0,2023-12-31,Transfer to another province,Transfer to another province,NaN,NaN,NaN,NaN,NaN,2018-06-08,2014-12-05,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT